{% extends "base.html" %}
{% load i18n %}
{% load inthenews %}
{% load typogrify %}
{% load markup %}
{% load thumbnail %}

{% block title %}{% trans "News &amp; reports from the farmsubsidy.org network" %}{% endblock %}
{% block page_title %}{% trans "News &amp; reports from the farmsubsidy.org network" %}{% endblock %}

{% block content %}
  {% for feature in features %}
  {# {% thumbnail feature.image "100x100" crop="center" as im %} #}
  {#     <a href="{{ feature.get_absolute_url }}"> #}
  {#         <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail"> #}
  {#     </a> #}
  {# {% endthumbnail %} #}
    <h4><a href="{{ feature.get_absolute_url }}">{{ feature.title|typogrify }}</a> </h4>
    {{ feature.date|date }}.
    {{ feature.teaser|markdown|typogrify }}
  {% endfor %}
{% endblock %}