{% extends "base.html" %}
{% load markup %}
{% load multilingual_tags %}
{% load babel %}
{% block title %}
{% ifequal LANGUAGE_CODE "es" %}
  {{ feature.title_es }}  
{% else %}
  {{ feature.title_en }}            
{% endifequal %}

{% endblock %}
{% block page_title %}


{% ifequal LANGUAGE_CODE "es" %}
  {{ feature.title_es }}  
{% else %}
  {{ feature.title_en }}            
{% endifequal %}


{% endblock %}
{% block breadcrumb %}
  <a href="{% url home %}">Home</a> | <a href="{% url feature_list %}">Previous features</a>
{% endblock %}
{% block content %}
  {% ifequal LANGUAGE_CODE "es" %}
    {{ feature.body_es|markdown }}  
  {% else %}
    {{ feature.body_en|markdown }}            
  {% endifequal %}
{% endblock %}