{% extends "base.html" %}

{% load typogrify_tags %}
{% load i18n %}
{% load markup %}
{% load thumbnail %}


{% block content %}
<div class="section">
    <h2>{% trans "News and reports from the fishsubsidy.org network" %}</h2>
    {% for feature in features %}
        {# {% thumbnail feature.image "100x100" crop="center" as im %} #}
        {#     <a href="{{ feature.get_absolute_url }}"> #}
        {#         <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" class="thumbnail"> #}
        {#     </a> #}
        {# {% endthumbnail %} #}
    
        <h4><a href="{{ feature.get_absolute_url }}">{{ feature.title|typogrify }}</a> </h4>
        {{ feature.date|date }}.
        {{ feature.teaser|markdown|typogrify }}
    {% endfor %}
    <a href="{% url feature_list %}" class="clear">{% trans "View All" %}</a>
</div>

<div class="section">
    <h2>{% trans "Media coverage" %}</h2>
    {% for feed_item in feed_items %}
        <h4><a href="{{ feed_item.url }}" target="_blank">{{ feed_item.title }}</a> </h4>
        {{ feed_item.date|date }}.
        {{ feed_item.description|markdown|typogrify }}
    {% endfor %}    
    <a href="{% url media_list %}">{% trans "View All" %}</a>
</div>
    
    
    
{% endblock %}
