{% extends "base.html" %}
{% load i18n %}
{% load code_to_name %}
{% load babel %}
{% load parse_qs %}
{% load humanize %}
{% load markup %}


{% block content %}
    <div class="section">
        {% if not number_of_results %}
            {{ intro_text.content|markdown }}
        {% endif %}
        <form>
            {{ form }}
            <input type="submit" name="" value="{% trans "Search" %}" id="">
        </form>
    </div>
    {% if number_of_results %}

    <div class="section">
        <h3>{% trans "Results" %}</h3>
        <ul class="results_summary col">
        <strong><a href="/eff/csv?query={{ query }}">{% trans "Download as CSV" %}</a></strong>
            <li>
                <strong>Number of beneficiaries:</strong> 
                {% if number_of_results %}
                    {{ number_of_results|floatformat|intcomma }}
                {% else %}
                    {% trans "Unknown" %}
                {% endif %}

            </li>

            <li>
                <strong>EU funds allocated:</strong> 
                {% if totals.amountEuAllocatedEuro %}
                    {{ totals.amountEuAllocatedEuro|currencyfmt:"EUR" }}
                {% else %}
                    {% trans "Unknown" %}
                {% endif %}

            </li>
            <li>
                <strong>EU funds paid:</strong> 
                {% if totals.amountEuPaymentEuro %}
                    {{ totals.amountEuPaymentEuro|currencyfmt:"EUR" }}
                {% else %}
                    {% trans "Unknown" %}
                {% endif %}
            </li>
            <li>
                <strong>Total allocated:</strong> 
                {% if totals.amountTotalAllocatedEuro %}
                    {{ totals.amountTotalAllocatedEuro|currencyfmt:"EUR" }}
                {% else %}
                    {% trans "Unknown" %}
                {% endif %}
            </li>
            <li>
                <strong>Total paid:</strong> 
                {% if totals.amountTotalPaymentEuro %}
                    {{ totals.amountTotalPaymentEuro|currencyfmt:"EUR" }}
                {% else %}
                    {% trans "Unknown" %}
                {% endif %}
            </li>
        </ul>

        <div class="facets">
            {% if "country" in filter_types %}
                <h4>{% trans "Filter by country" %}:</h4>
                {% trans "Results in: " %}{% code_to_name_dumb facets.fields.country_exact.0.0 %}<br />
                <a href="{% parse_qs request.GET "country" "" %}">{% trans "Remove filter" %}</a>
            {% endif %}

            {% if facets.fields.country_exact.1 %}
                <h4>{% trans "Filter by country" %}:</h4>
                <ul>
                {% for country in facets.fields.country_exact %}
                    <li><a href="{% parse_qs request.GET "country" country.0 %}">{% code_to_name_dumb country.0 %} ({{ country.1 }})</a></li>
                {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="facets">
            {% if "yeara" in filter_types %}
                <h4>{% trans "Filter by Year allocated" %}:</h4>
                {% trans "Results in: " %}{{ facets.fields.yeara.0.0 }}<br />
                <a href="{% parse_qs request.GET "yeara" "" %}">{% trans "Remove filter" %}</a>
            {% endif %}
            {% if facets.fields.yeara.1 %}
                <h4>{% trans "Filter by Year allocated" %}:</h4>
                <ul>
                {% for year in facets.fields.yeara %}
                    {% if year.0 %}
                    <li><a href="{% parse_qs request.GET "yeara" year.0 %}">{% if year.0 != '0' %}{{ year.0 }}{% else %}{% trans "Unknown" %} {% endif %} ({{ year.1 }})</a></li>
                    {% endif %}
                {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="pagination">
            <span class="step-links">
                {% if results.has_previous %}
                    <a href="{% parse_qs request.GET "page" results.previous_page_number %}&page={{ results.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ results.number }} of {{ results.paginator.num_pages }}.
                </span>

                {% if results.has_next %}
                    <a href="{% parse_qs request.GET "page" results.next_page_number %}&page={{ results.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>

        <br />
    <table class="sort-{{ sort }}">
        <thead>
            <th class="{% if sort_by == "name"%}sort{% endif %}"><a href="{% parse_sort_qs request.GET "sort" "name" %}">{% trans "Name" %}</a></th>
            <th class="">{% trans "Location" %}</th>
            <th class="">{% trans "Description" %}</th>
            <th class="{% if sort_by == "amountEuAllocatedEuro"%}sort{% endif %}"><a href="{% parse_sort_qs request.GET "sort" "amountEuAllocatedEuro" %}">{% trans "EU funds allocated" %}</a></th>
            <th class="{% if sort_by == "amountEuPaymentEuro"%}sort{% endif %}"><a href="{% parse_sort_qs request.GET "sort" "amountEuPaymentEuro" %}">{% trans "EU funds paid" %}</a></th>
            <th class="{% if sort_by == "amountTotalAllocatedEuro"%}sort{% endif %}"><a href="{% parse_sort_qs request.GET "sort" "amountTotalAllocatedEuro" %}">{% trans "Total allocated" %}</a></th>
            <th class="{% if sort_by == "amountTotalPaymentEuro"%}sort{% endif %}"><a href="{% parse_sort_qs request.GET "sort" "amountTotalPaymentEuro" %}">{% trans "Total paid" %}</a></th>
            <th class="{% if sort_by == "year"%}sort{% endif %}"><a href="{% parse_sort_qs request.GET "sort" "year" %}">{% trans "Year allocated" %}</a></th>
        </thead>
        {% for result in results.object_list %}
        <tr valign="top">
            <td>
                {% if result.object.name %}
                    {% if "name" in filter_types %}
                    {{ result.object.name }}
                    {% else %}
                    <a href='?query=name:"{{result.object.name}}"'>{{ result.object.name }}</a>
                    {% endif %}
                {% else %}
                    {% trans "Unknown" %}
                {% endif %}
            </td>
            <td>
                {{ result.object.format_location|safe }}
            </td>
            <td><ul>{{ result.object.format_description|safe }}</ul></td>
            <td>
                {% if result.object.amountEuAllocatedEuro %}
                    {{ result.object.amountEuAllocatedEuro|currencyfmt:"EUR"|default_if_none:"Unknown" }}
                {% else %}
                    {% trans "Unknown" %}
                {% endif %}
            </td>
            <td>
                {% if result.object.amountEuPaymentEuro %}
                    {{ result.object.amountEuPaymentEuro|currencyfmt:"EUR"|default_if_none:"Unknown" }}
                {% else %}
                    {% trans "Unknown" %}
                {% endif %}
            </td>
            <td>
                {% if result.object.amountTotalAllocatedEuro %}
                    {{ result.object.amountTotalAllocatedEuro|currencyfmt:"EUR"|default_if_none:"Unknown" }}
                {% else %}
                    {% trans "Unknown" %}
                {% endif %}
            </td>
            <td>
                {% if result.object.amountTotalPaymentEuro %}
                    {{ result.object.amountTotalPaymentEuro|currencyfmt:"EUR"|default_if_none:"Unknown" }}
                {% else %}
                    {% trans "Unknown" %}
                {% endif %}
            </td>
            <td>
                {% if result.object.yearAllocated %}
                    {{ result.object.yearAllocated|default_if_none:"Unknown" }}
                {% else %}
                    {% trans "Unknown" %}
                {% endif %}
            </td>
        </tr>
            
        {% endfor %}
        
    </table>
        <div class="pagination">
            <span class="step-links">
                {% if results.has_previous %}
                    <a href="{% parse_qs request.GET "page" results.previous_page_number %}&page={{ results.previous_page_number }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ results.number }} of {{ results.paginator.num_pages }}.
                </span>

                {% if results.has_next %}
                    <a href="{% parse_qs request.GET "page" results.next_page_number %}&page={{ results.next_page_number }}">Next</a>
                {% endif %}
            </span>
        </div>
    </div>
        {% endif %}
    
{% endblock %}

{% block right %}
    <h2>{{ side_bar_help.title }}</h2>
    {{ side_bar_help.content|safe }}
{% endblock %}