Django==1.4
FeinCMS==1.5.3
PIL
South
babeldjango
django-ajax-selects
django-mptt
django-pagination==1.0.7
django-profiles==0.2
django-registration==0.8
django-rosetta
django-tagging==0.3.1
django-typogrify
django_notify
djapian
feedparser
git+git://github.com/notanumber/xapian-haystack.git
git+git://github.com/ojii/django-multilingual-ng.git
git+git://github.com/toastdriven/django-haystack.git
johnny-cache
markdown
mercurial==1.7.2
palb==0.1.1
psycopg2
pycurl==7.19.0
python-memcached
redis==2.2.0
sorl-thumbnail==11.01
typogrify
