Django==1.4
South
mercurial==1.7.2
palb==0.1.1
psycopg2
pycurl==7.19.0
redis==2.2.0
markdown
typogrify
sorl-thumbnail==11.01
PIL
git+git://github.com/notanumber/xapian-haystack.git
git+git://github.com/toastdriven/django-haystack.git
FeinCMS==1.5.3
django-ajax-selects
python-memcached
johnny-cache
django-mptt
djapian
babeldjango
git+git://github.com/ojii/django-multilingual-ng.git
django-rosetta
django_notify
django-profiles==0.2
django-registration==0.8
django-pagination==1.0.7
django-tagging==0.3.1
feedparser
django-typogrify
