{% extends "base.html" %}
{% load i18n %}
{% block body_class%}wide{% endblock %}
{% block page_title%}{% trans "Log in or create an account" %}{% endblock %}
{% block title%}{% trans "Log in or create an account" %}{% endblock %}
{% block content %}
  <form method="POST" class="col col1">
    <h3>{% trans "Create an account" %}</h3>
  <table>{{ registration_form.as_table }}</table>
  <input type="submit" name="register" value="{% trans "Create your account" %}" />
  </form>  

  <form method="POST" class="col">
    <h3>Log in</h3>
  <table>
    {{ login_form.as_table }}
  </table>
  <input type="submit" name="login" value="{% trans "Sign in" %}" />
    <a href="{% url reset_password %}">{% trans "Forgotten your password?" %}</a>
  </form>
{% endblock %}