{% extends "base.html" %}
{% load i18n %}
{% load bootstrap %}
{% block page_title%}{% trans "Sign in or create an account" %}{% endblock %}
{% block title%}{% trans "Sign in or create an account" %}{% endblock %}
{% block content %}
<div class="container-fluid">
    <form method="POST" class="span6">
        <h3>{% trans "Sign in" %}</h3>
        {{ login_form|bootstrap }}
        <input type="submit" name="login" value="{% trans "Sign in" %}" class="btn" />
        <a href="{% url reset_password %}" class="btn">{% trans "Forgotten your password?" %}</a>
    </form>

    <form method="POST" class="span6">
        <h3>{% trans "Create an account" %}</h3>
        {{ registration_form|bootstrap }}
        <input type="submit" name="register" value="{% trans "Create your account" %}" class="btn" />
    </form>  
</div>
{% endblock %}