{% extends "base.html" %}
{% load i18n %}
{% block page_title %}{% trans "Reset Password" %}{% endblock %}
{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
  <form method="POST" accept-charset="utf-8">
    {% blocktrans  %}
      <p>Please enter the email address you used to register in the form below.</p>
      
      <p>You will then be emailed a confirmation email, with a link to a form that will allow you to reset your password.</p>
    {% endblocktrans %}
    {# {{ form.errors }} #}
    {{ form.as_p }}
    <input type="hidden" name="next" value="/accounts/password_reset_done/" id="next">
    {% csrf_token %}
    <input type="submit" value="{% trans "Continue" %}">
  </form>
{% endblock %}