{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Registration complete" %}{% endblock %}

{% block page_title %}{% trans "Please check your email!" %}{% endblock %}
{% block content %}
  {% blocktrans %}
      <p>Your account has been created, however you need to activate it before you can log in.</p>
      <p>Please allow up to 10 minutes for your email to arrive before trying to register again.</p>
      <p>If you still haven't received the email check your spam or junk folder or <a href="/faq#contact">contact us</a> for help.</p>
  {% endblocktrans %}
{% endblock %}