<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>{% block title %}{% endblock %} | FishSubsidy.org</title>

  <link rel="stylesheet" href="/media/css/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="/media/css/layout.css" type="text/css"> 
  <link rel="stylesheet" href="/media/css/print.css" type="text/css" media="print"> 
  
  <!--[if IE]>
    <link rel="stylesheet" href="/media/css/ie.css" type="text/css" media="screen, projection">
  <![endif]-->
  
  <link rel="shortcut icon" href="/media/images/favicon.ico">
  
  <script type="text/javascript" src="/media/js/jquery.js"></script>
  <script type="text/javascript" src="/media/js/jquery.example.min.js"></script>
  <script type="text/javascript" src="/media/js/jquery-ui-1.7.1.custom.min.js"></script>
  <script src="/media/js/scripts.js" type="text/javascript" charset="utf-8"></script>
	
	
</head>
<body id="{% block body_id%}{% endblock %}" class="{% block body_class%}{% endblock %}">
  <div id="page">
  <div id="head">
    
    
    <h1 id="title"><a href="/">{% block logo %}<img src="/media/images/logo-small.png" width="309" height="81" />{% endblock %} <span class="hide">FishSubsidy.org</span></a></h1>
    <h2 id="sub_title" class="hide">Discover who gets what from European Fish Subsidies</h2>
    
    
    
    <ul id="mainmenu">
      {% load active_url %}
      <li class="{% active request "^/(?!faqs|about|blog|news)" %}"><a href="/" >Search / Browse</a></li>
      <li class="{% active request "^/faqs/" %}"><a href="/faqs/">FAQs</a></li>
      <li class="{% active request "^/about/" %}"><a href="/about/">About</a></li>
      <li class="{% active request "^/blog/" %}"><a href="/blog/">Blog</a></li>
      <li class="{% active request "^/news/" %}"><a href="/news/">In The News</a></li>
    </ul>
  </div>
  
  <div id="content">
    <div id="breadcrumb">{% block breadcrumb %}{% endblock %}</div>
    
  <h2>{% block page_title %}
    
  {% endblock %}</h2>
  
  
  {% block content %}
  
  {% endblock %}
  </div>
  <div id="right">
  {% block right %}
    
  {% endblock %}
  </div>
  </div>
  <div id="footer">
    <ul id="links">
      <li><a href="/about/">About</a></li>
      <li><a href="/about/legal/">Legal / Privacy</a></li>
      <li><a href="/faqs/">FAQs</a></li>
    </ul>
  </div>
</body>
</html>
