<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
{% load i18n %}
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />  
  <title>{% block title %}{% endblock %} | FishSubsidy.org</title>

  <link rel="stylesheet" href="{{ MEDIA_URL }}/css/screen.css" type="text/css" media="screen, projection">
  <link rel="stylesheet" href="{{ MEDIA_URL }}/css/layout.css" type="text/css"> 
  <link rel="stylesheet" href="{{ MEDIA_URL }}/css/print.css" type="text/css" media="print"> 

  <!--[if IE]>
    <link rel="stylesheet" href="/media/css/ie.css" type="text/css" media="screen, projection">
  <![endif]-->

  <link rel="shortcut icon" href="/media/images/favicon.ico">

  <script src="{{ MEDIA_URL }}/js/jquery.js" type="text/javascript"></script>
  <script src="{{ MEDIA_URL }}/js/jquery.example.min.js"type="text/javascript"></script>
  <script src="{{ MEDIA_URL }}/js/jquery-ui-1.7.1.custom.min.js" type="text/javascript"></script>
  <script src="{{ MEDIA_URL }}/js/scripts.js" type="text/javascript" charset="utf-8"></script>
  <script src="{{ MEDIA_URL }}/js/lists.js" type="text/javascript" charset="utf-8"></script>

</head>
<body id="{% block body_id%}{% endblock %}" class="{% block body_class%}{% endblock %}{% if list_enabled %} list_enabled{% endif %}">

  <div id="topbar">

    <form method="post" action="http://app.icontact.com/icp/signup.php" name="icpsignup" accept-charset="UTF-8" onsubmit="return verifyRequired();">
    <input name="redirect" value="http://www.icontact.com/www/signup/thanks.html" type="hidden">
    <input name="errorredirect" value="http://www.icontact.com/www/signup/error.html" type="hidden">
    <script type="text/javascript">

    if (document.location.protocol === "https:") {
      document.icpsignup.action = "https://app.icontact.com/icp/signup.php";
    }
    function verifyRequired() {
      if (document.icpsignup["fields_email"].value == "") {
        document.icpsignup["fields_email"].focus();
        alert("The Email field is required.");
        return false;
      }

    return true;
    }
    </script>
    <div id="SignUp">
      <label for="fields_email">{% trans "Join the fishsubsidy.org newsletter. Email:" %}</label>
      &nbsp;<input type="text" name="fields_email" value="" id="fields_email" size="30">
      <input name="Submit" value="{% trans "Submit" %}" type="submit">
        <input name="listid" value="3290" type="hidden">
        <input name="specialid:3290" value="OMN5" type="hidden">
        <input name="clientid" value="161514" type="hidden">
        <input name="formid" value="278" type="hidden">
        <input name="reallistid" value="1" type="hidden">
        <input name="doubleopt" value="1" type="hidden">
    </div>
    </form>
  </div>

  <div id="page">
  <div id="head">

    <h1 id="title"><a href="/">{% block logo %}<img src="{{ MEDIA_URL }}/images/logo-small.png" width="309" height="81" />{% endblock %} <span class="hide">FishSubsidy.org</span></a></h1>
    <h2 id="sub_title" class="hide">{% trans "Discover who gets what from European Fish Subsidies" %}</h2>

    <ul id="mainmenu">
      {% load active_url %}
      <li class="{% active request "^/(?!faqs|about|blog|news|lists)" %}"><a href="/" >{% trans "Search / Browse" %}</a></li>
      <li class="{% active request "^/faqs/" %}"><a href="/faqs/">{% trans "FAQs" %}</a></li>
      <li class="{% active request "^/about/" %}"><a href="/about/">{% trans "About" %}</a></li>
      <li class="{% active request "^/blog/" %}"><a href="/blog/">{% trans "Blog" %}</a></li>
      <li class="{% active request "^/news/" %}"><a href="/news/">{% trans "In The News" %}</a></li>
      <li class="{% active request "^/lists/" %}"><a href="/lists/">{% trans "Lists" %}</a></li>
    </ul>
    
    
    <div id="user_menu">
      <form action="/i18n/setlang/" method="post">
      <select name="language">
          {% for lang in LANGUAGES %}
          <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %}selected{% endifequal %}>{{ lang.1 }}</option>
          {% endfor %}
      </select>
      <input type="submit" value="{% trans "Go" %}" />
      </form>

      {% if user.is_authenticated %}
        <a href="{% url profiles.views.profile_detail user.username %}">{{ user.username }}</a> {% trans "Logged in" %} <a href="{% url logout %}">{% trans "Log out" %}</a>
      {% else %}
       <a href="{% url login %}">{% trans "Create an account or Log in" %}</a>
      {% endif %}  

    </div>
    
  </div>
  {% if featured_items %}
    <ul id="features">
        <li>
          <a href="{% url feature_detail featured_items.0.slug %}">
          <strong>{{ featured_items.0.title }}:</strong>
          <p>{{ featured_items.0.teaser|truncatewords:"25" }}</p>
          </a>
        </li>
        <li>
          <a href="{% url feature_detail featured_items.1.slug %}">
          <strong>{{ featured_items.1.title }}:</strong>
          <p>{{ featured_items.1.teaser|truncatewords:"25" }}</p>
          </a>
        </li>
        <li>
          <a href="{% url feature_detail featured_items.2.slug %}">
          <strong>{{ featured_items.2.title }}:</strong>
          <p>{{ featured_items.2.teaser|truncatewords:"25" }}</p>
          </a>
        </li>
    </ul>
  {% endif %}
  <div id="content">
    <div id="breadcrumb">{% block breadcrumb %}{% endblock %}</div>
    
  <h2>{% block page_title %}
    
  {% endblock %}</h2>
  
  {% if notifications %}
  <ul>

      {% for message in notifications %}
  	{% if forloop.first %} {% comment %} Just get the first notification - otherwise login message displays twice, strange bug {% endcomment %}
         <li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
         {% endif %}
      {% endfor %}
  </ul>
  {% endif %}
  
  {% block content %}
  
  {% endblock %}
  </div>
  <div id="right">
  {% block right %}
    
  {% endblock %}
  
    {% include "blocks/list_view.html" %}
  </div>
  </div>
  <div id="footer">
    <ul class="col">
      <li><a href="/about/">{% trans "About" %}</a></li>
      <li><a href="/about/legal/">{% trans "Legal / Privacy" %}</a></li>
    </ul>
    <ul class="col">
      <li><a href="/faqs/">{% trans "FAQs" %}</a></li>
      <li><a href="{% url download %}">{% trans "Get the Data" %}</a></li>
    </ul>
  </div>
{# <script type="text/javascript"> #}
{# var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www."); #}
{# document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E")); #}
{# </script> #}
{# <script type="text/javascript"> #}
{# try { #}
{# var pageTracker = _gat._getTracker("UA-126704-4"); #}
{# pageTracker._trackPageview(); #}
{# } catch(err) {}</script> #}



</body>
</html>

