{% extends "base.html" %}
{% load countrymenu %}
{% load humanize %}
{% load babel %}
{% load code_to_name %}
{% load markup %}
{# {% load lists %} #}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block body_id%}home{% endblock %}

{% block logo %}
  <img src="/media/images/logo-big_{{ LANGUAGE_CODE }}.png" width="600" height="171">
{% endblock %}

{% block right %}

    {# top vessles #}
    <div class="section">
        <h4>{% trans "Top Vessels in Europe" %} <small>(1994-2007)</small></h4>

        <ul>
        {% for recipient in top_vessels %}
          <li>
            <a href="{% url vessel recipient.country recipient.pk recipient.name %}">
              {{ recipient.name|title }} ({{ recipient.pk }})
              </a>{# {% list_item_edit recipient %} #}
          </li>
        {% endfor %}
        </ul>
        <a href="EU/browse/?filter=vessel">{% trans "See all" %} &raquo;</a>
    </div>

    {# top non vessels #}
    <div class="section">
        <h4>{% trans "Top Non-vessel Payments <br />in Europe" %} <small>(1994-2007)</small></h4>
        <ul>
        {% for recipient in top_nonvessel %}
          <li>
            <a href="{% url vessel recipient.country recipient.pk recipient.name %}">
              {% if vessel.name %}
                {{ vessel.name|title }} 
              {% else %}
                {% trans "Unknown beneficiary" %}
              {% endif %}
              ({{ recipient.pk }})
              </a>
              {# {% list_item_edit recipient %} #}
          </li>
        {% endfor %}
        </ul>
        <a href="EU/browse/?filter=nonvessel">{% trans "See all" %} &raquo;</a>
    </div>
    
    {# country list #}
    <div class="section">
        <h4>{% trans "Browse by country" %}</h4>
        {% menu %}
    </div>
{% endblock %}

{% block content %}
    <div class="section">
        <h2>
            Welcome to fishsubsidy.org!
        </h2>
        <p class="intro">
            Subsidies paid to owners of fishing vessels and others working in the fishing industry under the European Union’s Common Fisheries Policy amount to more than &euro;1 billion a year. Fishsubsidy.org helps people find out who gets what, and why.
        </p>
    </div>
    <div class="section">
        <h3>Latest news &amp; reports from the fishsubsidy.org network</h3>
        {% if featured_items.0 %}                  
            <h5><a href="{{ featured_items.0.get_absolute_url }}">{{ featured_items.0.title }}</a></h5>
            <p>{{ featured_items.0.teaser|truncatewords:"25" }}</p>
        {% endif %}                  
        {% if featured_items.1 %}
          <h5><a href="{{ featured_items.1.get_absolute_url }}">{{ featured_items.1.title }}</a></h5>
          <p>{{ featured_items.1.teaser|truncatewords:"25" }}</p>
        {% endif %}
        {% if featured_items.2 %}        
        <h5><a href="{{ featured_items.2.get_absolute_url }}">
        {{ featured_items.2.title }}</a></h5>
        <p>{{ featured_items.2.teaser|truncatewords:"25" }}</p>
        {% endif %}
    </div>
    
    <div class="section"> 

        {# <h3>Watch a short film about the project:</h3>  #}
        {# <object width="640" height="385"><param name="movie" value="http://www.youtube-nocookie.com/v/rDiuj6Vvofs?fs=1&amp;hl=en_US&amp;rel=0"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube-nocookie.com/v/rDiuj6Vvofs?fs=1&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="640" height="385"></embed></object>  #}
        <a href="/map/"><img src="/media/images/map_preview.png"></a>
    </div>
    
    <div class="section">
        <h3>Latest annotations</h3>
        <ul class="annotations">
        {% for annotation in latest_annotations %}
            <li>{{ annotation.user.username }} annotated <a href="{{ annotation.recipient.get_absolute_url }}">{{ annotation.recipient.name }}</a>:
                <blockquote>{{ annotation.comment|markdown|striptags|truncatewords:30 }}</blockquote></li>        
        {% endfor %}
        </ul>
    </div>
    
    
{% endblock %}