{% extends "base.html" %}
{% load countrymenu %}
{% load humanize %}
{% load babel %}
{% load code_to_name %}
{% load lists %}
{% load i18n %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block body_id%}home{% endblock %}

{% block logo %}
  <img src="/media/images/logo-big_{{ LANGUAGE_CODE }}.png" width="600" height="171">
{% endblock %}


{% block content %}
  {% load inthenews %}
  {% latestnews "" 3 "Blog" 1 %}
  <div class="section">
    <form action="/search" method="get" accept-charset="utf-8" id="search_form">
      <h2><label for="search" class="section_title">{% trans "Search" %}</label></h2>
      <div class="section_content">
        <input type="text" name="q" value="" id="q" title="{% trans "Enter a vessel name, number, port or place name" %}">
        <div class="description">
          {% blocktrans %}
          e.g. <a href="/search?q=Aurora">Aurora</a>, <a href="/search?q=DEU000300601">DEU000300601</a> or <a href="/search?q=Dieppe">Dieppe</a>
          {% endblocktrans %}
          <div class="search_help">
            {% blocktrans %}
              Use "AND", "OR" or "NOT" to refine searches.  <br />Use "-" (minus) to remove particular words, for example "Jan  -Looden"<br />
              If a search that returns only one hit, it will be displayed directly.            
            {% endblocktrans %}
            </div></div>
        <input type="submit" value="Go" class="submit">
      </div>
    </form>
  </div>
  
  <div class="section">
    <h2 class="section_title">{% trans "Browse" %}</h2>
      <div class="section_content"> 
        
        <div class="col wide-col">

          <div class="block">
            <h3>{% trans "Top Recipient Vessels <br />in Europe" %}</h3>
            <em>(1994-2007)</em>
            <ul>
            {% for recipient in top_vessels %}
              <li>
                <a href="{% url vessel recipient.country recipient.pk recipient.name %}">
                  {{ recipient.name|title }} ({{ recipient.pk }})
                  </a>{% list_item_edit recipient %}
              </li>
            {% endfor %}
            </ul>
            <a href="EU/browse/?filter=vessel">{% trans "See All" %}</a>
          </div>
          
          <div class="block">
            <h3>
              {% code_to_name ip_country as ip_country_name %}
              {% blocktrans with ip_country_name as ip_country_name %}
              Top Recipient Vessels <br />in {{ ip_country_name }}
              {% endblocktrans %}
              </h3>
            <em>(1994-2007)</em>
            <ul>
            {% for recipient in country_top_vessels %}
              <li>
                <a href="{% url vessel recipient.country recipient.pk recipient.name %}">
                  {{ recipient.name|title }} ({{ recipient.pk }})
                  </a>
                  {% list_item_edit recipient %}
              </li>
            {% endfor %}
            </ul>
            <a href="{{ ip_country }}/browse/?filter=vessel">See All</a>
          </div>
          <div class="section wide-col">
            
          <div class="block">
            <h3>{% trans "Top Non-vessel Payments <br />in Europe" %}</h3>
            <em>(1994-2007)</em>
            <ul>
            {% for recipient in top_nonvessel %}
              <li>
                <a href="{% url vessel recipient.country recipient.pk recipient.name %}">
                  {% if vessel.name %}
                    {{ vessel.name|title }} 
                  {% else %}
                    {% trans "Unknown beneficiary" %}
                  {% endif %}
                  ({{ recipient.pk }})
                  </a>
                  {% list_item_edit recipient %}
              </li>
            {% endfor %}
            </ul>
            <a href="EU/browse/?filter=nonvessel">See All</a>
          </div>

          <div class="block">
            {% blocktrans with ip_country_name as ip_country_name %}
              <h3>Top Non-vessel Payments <br />in </h3>
            {% endblocktrans %}
            <em>(1994-2007)</em>
            <ul>
            {% for recipient in country_top_nonvessels %}
              <li>
                <a href="{% url vessel recipient.country recipient.pk recipient.name %}">
                  {% if vessel.name %}
                    {{ vessel.name|title }} 
                  {% else %}
                    {% trans "Unknown beneficiary" %}
                  {% endif %}
                  ({{ recipient.pk }})
                  </a>
                  {% list_item_edit recipient %}
              </li>
            {% endfor %}
            </ul>
            <a href="{{ ip_country }}/browse?filter=nonvessel">{% trans "See All" %}</a>
          </div>
          </div>
          
          
          <div class="section wide-col">
            <h3>{% trans "Top Schemes" %}</h3>
            <div style="text-align:center"><a href="/EU/schemes"><img src="graph/stack/0" /></a></div>

            {% load traffic_lights %}

            <table>
              <thead>
                <th>{% trans "Scheme Name" %}</th>
                <th>{% trans "Amount" %}</th>
              </thead>
            {% for scheme in top_schemes %}
            
              {% url data.views.scheme_detail country="EU" scheme_id=scheme.scheme_id name=scheme.name|slugify as scheme_url %}
              <tr>  
                <td><a href="{{ scheme_url }}">{{ scheme.name_es }}{{ scheme.name_en }}</a>{% traffic_light scheme.traffic_light %}</td>
                  <td>{{ scheme.total|currencyfmt:"EUR" }}</td>
              </tr>
              
            {% endfor %}
            
            <tr><td><a href="/EU/schemes">{% trans "See All" %}</a></td></tr>
            </table>

          </div>
        </div>

        <div class="col narrow-col">
          <div class="block"><h3>{% trans "By country" %}</h3>{% menu %}</div>
          <div class="block">
            <h3>
              {% blocktrans %}
              Follow <a href="http://twitter.com/fishsubsidy">fishsubsidy.org</a> on Twitter</h3>
              {% endblocktrans %}
            {{ tweet.text }}
          </div>
          
        </div>
        
      </div>
  </div>


{% endblock %}