{% extends "base.html" %}
{% load i18n %}
{% load humanize %}
{% load babel %}
{% block title%}{{ items.0.geo1|title }} | {{ country.name }}{% endblock %}
{% block page_title%}{% trans "Browse" %}{% endblock %}
{% block content %}
<h3>{{ items.0.geo1|title }} in <a href="/{{ country.code }}">{{ country.name }}</a>{% ifequal 0 year %}, {% trans "All Years" %}{% else %}, {{ year }}{% endifequal %}</h3>


{# <div class="year_selector"> #}
{#   {% for country_year in data_years %} #}
{#     {% url data.views.browse_geo2 country=country.code sort=sort year=country_year.year as year_url %} #}
{#     <a href="{{ year_url }}" {% ifequal year country_year.year %}class="selected"{% endifequal %}>{{ country_year.year }}</a> #}
{#   {% endfor %} #}
{#    #}
{#   <br /><a href="/{{ country.code }}/municipalities/browse/{{ sort }}" {% ifequal year 0 %}class="selected"{% endifequal %}>All Years</a> #}
{# </div> #}



<div class="section col">
  <h2>{% trans "Top Municipalities" %}</h2>
  <table class="table table-condensed table-striped">
    <thead>
      <th>{% trans "Municipality Name" %}</th>
      <th class="amount">{% trans "Amount" %}</th>
    </thead>
    {% for m in items %}
      {% url browse_geo1 country=country.code geo2=m.geo2 as municipality_url %}
      <tr>
        <td>{{ m.geo2|title }}</td> 
        <td>{{ m.total_subsidy|currencyfmt:"EUR" }}</td>
      </tr>
    {% endfor %}
  </table>
</div>

{% if top_ports.0 %}
  

<div class="col">  
  <h2>{% trans "Top Ports" %}</h2>
  <table class="table table-condensed table-striped">
    <thead>
      <th class="recipient_name">{% trans "Port" %}</th>
      <th class="amount">{% trans "Amount" %}</th>
    </thead>
  {% for port in top_ports %}
    {% url data.views.port country=country.code port=port.port_name as port_url %}
    <tr>
    <td><a href="{{ port_url }}">{{ port.name|title }}</a></td>
    <td>{{ port.total|currencyfmt:"EUR" }}</td>
    </tr>
  {% endfor %}
  <tr><td colspan="2"><a href="/{{ country.code }}/ports/browse/0">{% trans "See All" %}</a></td></tr>
  </table>
</div>

{% endif %}
{% if vessels %}
  <div class="section">
    {% blocktrans with items.0.geo1|title as name  %}
      <h2>Vessels in {{ name }}</h2>
    {% endblocktrans %}
    {% load pagination_tags %}
    {% autopaginate vessels 10 %}
    {% load list_data %}
    {% list_vessels vessels 1 0 %}
    {% paginate %}
  </div>
{% endif %}





{% endblock %}
