{% extends "base.html" %}
{% load pagination_tags %}
{% load parse_qs %}
{% load humanize i18n %}
{% load babel %}
{% load list_tags %}
{% block page_title%}{% trans "Browse" %}{% endblock %}
{% block title%}{% trans "Browse Vessels" %}{% endblock %}
{% block content %}



<h3>Recipients in <a href="/{{ country.code }}">{{ country.name }}</a>{% ifequal 0 year %}, {% trans "All Years" %}{% else %}, {{ year }}{% endifequal %}</h3>
{% autopaginate items 30 %}
  <table>
    <thead>
      <th>{% ifequal sort "name"  %}<strong>Name</strong>{% else %}<a href="{% parse_qs request.GET "sort" "name" %}">{% trans "Name" %}</a>{% endifequal %}</th>
      <th class="amount">{% ifequal sort "amount"  %}<strong>Amount</strong>{% else %}<a href="{% parse_qs request.GET "sort" "amount" %}">{% trans "Amount" %}</a>{% endifequal %}</th>
      <th>{% ifequal sort "port"  %}<strong>Port</strong>{% else %}<a href="{% parse_qs request.GET "sort" "port" %}">{% trans "Port" %}</a>{% endifequal %}</th>
      {% if list_enabled %}<th></th>{% endif %}
    </thead>
    {% for beneficiary in items %}
    {% ifequal beneficiary.recipient_type "vessel" %}
      {% url vessel country=beneficiary.country cfr=beneficiary.pk name=beneficiary.name|slugify as vessel_url %}
    {% else %}
      {% url nonvessel country=beneficiary.country project_no=beneficiary.pk as vessel_url %}
    {% endifequal %}
      {% url port country=beneficiary.country port=beneficiary.port.name as port_url %}
    
      <tr>
        <td><a href="{{ vessel_url }}">
          {% if beneficiary.name %}
            {{ beneficiary.name|title }} 
          {% else %}
            {% trans "Unknown beneficiary" %} 
          {% endif %}
          ({{ beneficiary.pk }})
          </a></td> 
        <td>{{ beneficiary.amount|currencyfmt:"EUR" }}</td>
        <td>
          {% if beneficiary.port.name %}
          <a href="{{ port_url }}">{{ beneficiary.port.name|title }}</a>
          {% else %}            
          {% trans "Unknown port" %}
          {% endif %}
        </td>
        <td>{% list_item_edit beneficiary %}</td>
      </tr>
    {% endfor %}
  </table>
  <h4 class="pager">{% paginate %}</h4>
{% endblock %}


{% block right %}

  <div class="box accordion">
    <h3>{% trans "Filter" %}</h3>
    <div class="accordion">
        <h4 class="accordion-heading">{% trans "Recipient Type" %}</h4>
        <ul class="accordion-body">
            <li>
                {% ifequal filter_by False  %}
                    {% trans "All" %}
                {% else %}
                    <a href="{% parse_qs request.GET "filter" "" %}">{% trans "All" %}</a>
                {% endifequal %}
            </li>
            <li>
                {% ifequal filter_by "vessel"  %}
                    {% trans "Vessels" %}
                {% else %}
                    <a href="{% parse_qs request.GET "filter" "vessel" %}">{% trans "Vessels" %}</a>
                {% endifequal %}
            </li>
            <li>
                {% ifequal filter_by "nonvessel"  %}
                    {% trans "Non-Vessels" %}
                {% else %}
                    <a href="{% parse_qs request.GET "filter" "nonvessel" %}">{% trans "Non-Vessels" %}</a>
                {% endifequal %}
            </li>
        </ul>
    </div>
        
        <h4>{% trans "Year" %}</h4>
        <ul>
            <li>
                <a href="/{{ country.code }}/browse/vessel" {% ifequal year 0 %}class="selected"{% endifequal %}>{% trans "All Years" %}</a>
            </li>
            {% for country_year in data_years %}
            {% url data.views.country_browse country=country.code year=country_year.year as year_url %}
            <li>
                <a href="{{ year_url }}{% parse_qs request.GET %}" {% ifequal year country_year.year %}class="selected"{% endifequal %}>{{ country_year.year }}</a>
            </li>
            {% endfor %}
        </ul>
    
    
    
  </div>
{% endblock %}