{% extends "base.html" %}
{% load humanize %}
{% block title %}
  {{ country.name }}
{% endblock %}

{% block page_title %}
  EU Fish subsidies for {{ country.name }} in {{ year }}
{% endblock %}
{% block content %}

  {% load graphs %}
  {% graph "country" country.code %}
  

  {% for year in data_years %}
    {% url data.views.country country=country.code year=year.year as year_url %}
    <a href="{{ year_url }}">{{ year.year }}</a>
  {% endfor %}

  
  <div class="section">  
    <h2>Top 20 ports / municipalities</h2>
    <ul>
    {% for port in top_ports %}
      {% url data.views.port country=country.code port=port.port_name as port_url %}
    
      <li><a href="{{ port_url }}">{{ port.port_name|title }}</a> &ndash; &euro;{{ port.total|intcomma }}</li>
    {% endfor %}
    </ul>
  </div>

  <div class="section">
    <h2>Top 20 recipient vessels</h2>
    {% load list_data %}
    {% list_vessels top_vessels 1 0 %}
  </div>
  
  <div class="section"> 
    {% load traffic_lights %}
    <h2>Top 5 schemes</h2>
    <ul>
    {% for scheme in top_schemes %}
    
      {% url data.views.scheme_detail scheme_id=scheme.scheme2_id name=scheme.scheme_name|slugify as scheme_url %}
        
      <li><a href="{{ scheme_url }}">{{ scheme.scheme_name|title }}</a>{% traffic_light scheme.scheme_traffic_light %} &ndash; &euro;{{ scheme.total|intcomma }}</li>
    {% endfor %}
    </ul>
    <a href="schemes">More</a>
  </div>
{% endblock %}


{% block right %}

<div class="box">
  {% load stats %}
  {% country_info country.code %}
</div>


  <div class="block">
    <h3>Recipients in {{ country.name }}</h3>
    <li><a href="/{{ country.code }}/browse/amount">By amount received</a></p>
    <li><a href="/{{ country.code }}/browse/name">A - Z by name</a></li>
    <li><a href="/{{ country.code }}/browse/port">A - Z by port</a></li>
     
    
  </div>
{% endblock %}