{% extends "base.html" %}
{% load humanize %}
{% load babel %}
{% load i18n %}
{% load cache %}
{% load list_tags %}
{% block title %}
  {{ country.name }}
{% endblock %}

{% block page_title %}
  {% ifnotequal year 0 %}
      {% blocktrans with country.name as country %}EU Fish subsidies for {{ country }} in {{ year }}{% endblocktrans %}
  {% else %}
      {% blocktrans with country.name as country %}EU Fish subsidies for {{ country }}, all years{% endblocktrans %}
  {% endifnotequal %}
  
{% endblock %}

{% block content %}
  
  <div class="year_selector">
  {% for country_year in data_years %}
    {% url data.views.country country=country.code year=country_year.year as year_url %}
    <a href="{{ year_url }}" {% ifequal year country_year.year %}class="selected"{% endifequal %}>{{ country_year.year }}</a>
  {% endfor %}
  <br /><a href="0" {% ifequal year 0 %}class="selected"{% endifequal %}>{% trans "All Years" %}</a>
  </div>
  
  <div class="col">  
    <h2>{% trans "Top Ports" %}</h2>
    <table>
      <thead>
        <th>{% trans "Port" %}</th>
        <th>{% trans "Amount" %}</th>
      </thead>
    {% for port in top_ports %}
      {% url data.views.port country=port.country port=port.name as port_url %}
      <tr>
      <td><a href="{{ port_url }}">{{ port.name|title }}</a></td>
      <td>{{ port.totalsscheme|currencyfmt:"EUR" }}</td>
      </tr>
    {% endfor %}
    <tr><td><a href="/{{ country.code }}/ports/browse/0">{% trans "See All" %}</a></td></tr>
    </table>
  </div>


  <div class="col">  
    <h2>{% trans "Top Regions" %}</h2>
    <table>
      <thead>
        <th>{% trans "Region" %}</th>
        <th>{% trans "Amount" %}</th>
      </thead>
    {% for m in top_municipalities %}
      {% url browse_geo2 country=country.code geo1=m.geo1 as municipality_url %}
      <tr>
      <td><a href="{{ municipality_url }}">{{ m.geo1|title }}</a></td>
      <td>{{ m.total_subsidy|currencyfmt:"EUR" }}</td>
      </tr>
    {% endfor %}
    <tr><td><a href="/{{ country.code }}/municipalities/">{% trans "See All" %}</a></td></tr>
    </table>
  </div>
  
  {% if top_vessels %}
    <div class="section">
      <h2>{% trans "Top vessels" %}</h2>
      {% load list_data %}
      {% list_vessels top_vessels 1 0 %}
      <a href="/{{ country.code }}/browse/vessel/0">{% trans "See All" %}</a>
    </div>
  {% endif %}
  {% if non_vessles %}
    <div class="section">
      <h2>{% trans "Top non-vessel payments" %}</h2>
      
      <table>
        <thead>
          <th>{% trans "Beneficiary Name" %}</th>
          <th>{% trans "Amount" %}</th>
          {% if list_enabled %}
          <th></th>
          {% endif %}
        </thead>
        {% for beneficiary in non_vessles %}
          {% url nonvessel country=beneficiary.country project_no=beneficiary.recipient_id as beneficiary_url%}
          <tr>
            <td>
              <a href="{{ beneficiary_url }}">
                {% if beneficiary.name %}
                  {{ beneficiary.name|title }} 
                {% else %}
                  {% trans "Unknown beneficiary" %}
                {% endif %}

                ({{ beneficiary.pk }})</a>
            </td>
            <td>{% if beneficiary.amount %} {{ beneficiary.total|currencyfmt:"EUR" }}{% endif %}</td>
            {% if list_enabled %}
            <td>{% list_item_edit beneficiary %}</td>
            {% endif %}
            
            
          </tr>
        {% endfor %}
      </table>
      
      <a href="/{{ country.code }}/browse/nonvessel/0">{% trans "See All" %}</a>
    </div>
  {% endif %}
    
  <div class="section"> 
    {% load traffic_lights %}
    <h2>{% trans "Top schemes" %}</h2>
    <table>
      <thead>
        <th>{% trans "Scheme Name" %}</th>
        <th>{% trans "Amount" %}</th>
        
      </thead>
    {% for scheme in top_schemes %}
      {% url data.views.scheme_detail scheme_id=scheme.scheme_id name=scheme.name|slugify country=country.code as scheme_url %}
      <tr>  
        <td><a href="{{ scheme_url }}">
          {{ scheme.name }}</a>{% traffic_light scheme.traffic_light %}
        </td>
          <td>{{ scheme.schemetotal|currencyfmt:"EUR" }}</td>
      </tr>
    {% endfor %}
    <tr><td><a href="schemes">{% trans "See All" %}</a></td></tr>
    </table>
  </div>
{% endblock %}




{% block right %}

<div class="box">
  {% load stats %}
  {% country_info country.code %}
</div>


    <h3>{% blocktrans with country.name as country %}
        Recipients in {{ country }}
    {% endblocktrans %}</h3>
    <ul>
      <li><strong>{% trans "Non Vessels" %}</strong>
        <ul>
          <li><a href="/{{ country.code }}/browse/?filter=nonvessel&sort=amount">{% trans "By amount received" %}</a>
          <li><a href="/{{ country.code }}/browse/?filter=nonvessel&sort=name">{% trans "A - Z by name" %}</a></li>
        </ul>
      </li>

      <li><strong>{% trans "Vessels" %}</strong>
        <ul>
          <li><a href="/{{ country.code }}/browse/?filter=vessel&sort=amount">{% trans "By amount received" %}</a>
          <li><a href="/{{ country.code }}/browse/?filter=vessel&sort=name">{% trans "A - Z by name" %}</a></li>
          <li><a href="/{{ country.code }}/browse/?filter=vessel&sort=port">{% trans "A - Z by port" %}</a></li>
          <li><a href="/{{ country.code }}/tuna-fleet">{% trans "Tuna Fleet" %}</a></li>
          
        </ul>
      </li>
      <li><strong>{% trans "Ports" %}</strong>
        <ul>
          <li><a href="/{{ country.code }}/ports/browse/amount">{% trans "By amount received" %}</a></p>
          <li><a href="/{{ country.code }}/ports/browse/name">{% trans "A - Z by name" %}</a></li>
        </ul>
      </li>

    </ul> 
    

{% endblock %}
