{% extends "base.html" %}
{% load humanize %}
{% block title %}
  {{ country.name }}
{% endblock %}

{% block page_title %}
  EU Fish subsidies for {{ country.name }}{% ifnotequal year 0 %} in {{ year }}{% else %}, All years{% endifnotequal %}
{% endblock %}
{% block content %}

  {% load graphs %}
  {% graph "country" country.code %}
  
  <div class="year_selector">
  {% for country_year in data_years %}
    {% url data.views.country country=country.code year=country_year.year as year_url %}
    <a href="{{ year_url }}" {% ifequal year country_year.year %}class="selected"{% endifequal %}>{{ country_year.year }}</a>
  {% endfor %}
  <a href="0" {% ifequal year 0 %}class="selected"{% endifequal %}>All Years</a>
  </div>
  
  <div class="section">  
    <h2>Top 20 ports / municipalities</h2>
    <table>
      <thead>
        <th>Port</th>
        <th>Amount</th>
      </thead>
    {% for port in top_ports %}
      {% url data.views.port country=country.code port=port.port_name as port_url %}
      <tr>
      <td><a href="{{ port_url }}">{{ port.port_name|title }}</a></td>
      <td>&euro;{{ port.total|intcomma }}</td>
      </tr>
    {% endfor %}
    </table>
  </div>

  <div class="section">
    <h2>Top 20 recipient vessels</h2>
    {% load list_data %}
    {% list_vessels top_vessels 1 0 %}
  </div>
  
  <div class="section"> 
    {% load traffic_lights %}
    <h2>Top 5 schemes</h2>
    <table>
      <thead>
        <th>Scheme Name</th>
        <th>Amount</th>
      </thead>
    {% for scheme in top_schemes %}
    
      {% url data.views.scheme_detail scheme_id=scheme.scheme2_id name=scheme.scheme_name|slugify as scheme_url %}
      <tr>  
        <td><a href="{{ scheme_url }}">{{ scheme.scheme_name|title }}</a>{% traffic_light scheme.scheme_traffic_light %}</td>
          <td>&euro;{{ scheme.total|intcomma }}</td>
      </tr>
    {% endfor %}
    <tr><td><a href="schemes">More</a></td></tr>
    </table>
  </div>
{% endblock %}




{% block right %}

<div class="box">
  {% load stats %}
  {% country_info country.code %}
</div>


    <h3>Recipients in {{ country.name }}</h3>
    <ul>
      <li><a href="/{{ country.code }}/browse/amount">By amount received</a></p>
      <li><a href="/{{ country.code }}/browse/name">A - Z by name</a></li>
      <li><a href="/{{ country.code }}/browse/port">A - Z by port</a></li>
    </ul> 
    

{% endblock %}