{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Thanks for downloading data from fishsubsidy.org." %}{% endblock %}
{% block page_title %}{% trans "Thanks for downloading data from fishsubsidy.org." %}{% endblock %}
{% block content %}
<div class="text_format">
{% blocktrans %}
<h3>The fishsubsidy.org database is made available under the Open Database License. You are free:</h3>

<ul>
<li>To Share: To copy, distribute and use the database.</li>
<li>To Create: To produce works from the database.</li>
<li>To Adapt: To modify, transform and build upon the database.</li>
</ul>

<h3>As long as you:</h3>

<ul>
<li>Attribute: You must attribute any public use of the database, or works produced from the database, by referencing fishsubsidy.org or &#8216;data derived from the fishsubsidy.org database of fish subsidy payments&#8217;. For any use or redistribution of the database, or works produced from it, you must make clear to others the license of the database and keep intact any notices on the original database.</li>
<li>Share-Alike: If you publicly use any adapted version of this database, or works produced from an adapted database, you must also offer that adapted database under the ODbL.</li>
<li>Keep open: If you redistribute the database, or an adapted version of it, then you may use technological measures that restrict the work (such as DRM) as long as you also redistribute a version without such measures.</li>
</ul>

  <p>Have fun, and if there are any questions, <a href="/about/">please get in
  touch</a>.</p>
{% endblocktrans %}
</div>


<form method="POST">
  {{ form.as_p }}
{# {{ form.data_agreement.label_tag }} #}
{# {{ form.data_agreement }} #}
{#  #}
{# {{ form.data_description.label_tag }} #}
{# {{ form.data_description }} #}
<input type="submit" name="submit" value="{% trans "Continue" %}" id="submit">
</form>

{% endblock %}
  
