{% extends "base.html" %}

{% block title %}
  {{ port|title }} | {{ country.name }}
{% endblock %}

{% block content %}
  <h3>Country: {{ country.name }}</h3>
  <div class="section">
    <h2>Top recipient vessels</h2>
    <ul>
    {% for vessel in top_vessels %}
       {% url vessel country=country.code cfr=vessel.cfr name=vessel.vessel_name|slugify as vessel_url %}
      <li><a href="{{ vessel_url }}">{{ vessel.vessel_name|title }} ({{ vessel.cfr }})</a> - &euro;{{ vessel.total }}</li>
    {% endfor %}
    </ul>
  </div>

{% endblock %}

