{% extends "base.html" %}
{% load humanize %}
{% load i18n %}
{% block title %}
  {{ port.port_name|title }} | {{ country.name }}
{% endblock %}

{% block page_title %}
  {% url country country.code as country_url %}
  {% ifequal 0 year %}
    {% blocktrans with port.port_name|title as port_name and country.name as country %}
      Vessels in {{ port_name }}, <a href="{{ country_url }}">{{ country }}</a>, All Years
    {% endblocktrans %}
  {% else %}
    {% blocktrans with port.port_name|title as port_name and country.name as country %}  
      Vessels in {{ port_name }}, <a href="{{ country_url }}">{{ country }}</a> {{ year }}
    {% endblocktrans %}
  {% endifequal %}
  
{% endblock %}



{% block content %}  
  
  {% load pagination_tags %}
  {% autopaginate top_vessels 30 %}
  
  <div class="section">
    <h2>{% trans "Vessels" %}</h2>
    
    <table>
      <thead>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Amount" %}</th>
      </thead>
      {% for vessel in top_vessels %}
      <tr>{% url vessel country=country.code cfr=vessel.pk name=vessel.name|slugify as vessel_url %}
        <td><a href="{{ vessel_url }}">{{ vessel.name|title }} ({{ vessel.pk }})</a></td>
        <td>&euro;{{ vessel.payment_total|floatformat|intcomma }}</td>
      </tr>
      {% endfor %}
    
    </table>    
  </div>
  <h4 class="pager">{% paginate %}</h4>
{% endblock %}


{% block right %}
  {% load map %}
  {% get_map port.port_lat port.port_lng %}

  <div class="box">
    <h3>Filter</h3>
    {% if data_years %}
    <div class="">
      <ul>
        <li><a href="0" {% ifequal year 0 %}class="selected"{% endifequal %}>{% trans "All Years" %}</a></li>
        {% for country_year in data_years %}
          {% url data.views.port country=country.code port=port.port_name year=country_year.year as year_url %}
          <li><a href="{{ year_url }}" {% ifequal year country_year.year %}class="selected"{% endifequal %}>{{ country_year.year }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>

{% endblock %}