{% extends "base.html" %}
{% load humanize %}
{% load multilingual_tags %}
{% load babel %}
{% load i18n markup %}
{% block title %}
  {% if recipient.name %}
    {{ recipient.name|title }} 
  {% else %}
    {% trans "Unknown beneficiary" %}
  {% endif %}
    | {{ country.name }}
{% endblock %}
{#  #}
{% block page_title %}
  {% if recipient.name %}
    {{ recipient.name|title }} 
  {% else %}
    {% trans "Unknown beneficiary" %}
  {% endif %}
  &mdash; {% trans "Fish Subsidy payments" %}  
{% endblock %}
{% block breadcrumb %}
  {% if country %}
    {% if full_row.port_name %}      
        {% url data.views.port country=country.code port=full_row.port_name as port_url %}
    <a href="/{{ country.code }}">{{ country.name }}</a> | <a href="{{ port_url }}">{{ full_row.port_name|title }}</a>
    {% endif %}
  {% else %}
    <a href="/schemes">{% trans "All schemes" %}</a>
  {% endif %}
{% endblock %}

{% block content %}
  {# {% if vessel.payments_set.1 %} #}
  {#   {# {% load graphs %} #}
  {#   {# {% graph "recipient" vessel.payment_set %} #}
  {# {% endif %} #}
  {#  #}
  {% load traffic_lights %}
  <table>
    <thead>
      <th>{% trans "Year" %}</th>
      <th>{% trans "Scheme" %}</th>
      <th>{% trans "Amount" %}</th>
    </thead>
    {% for payment in recipient.payment_set.all %}
      <tr>
        <td>{{ payment.year }}</td>
        <td><a href="{% url scheme_country_detail recipient.country payment.scheme_id payment.name %}">
          {% get_current_language as LANGUAGE_CODE %}
          {% ifequal LANGUAGE_CODE "es" %}
            {{ payment.scheme.name_es }}  
          {% else %}
            {{ payment.scheme.name_en }}            
          {% endifequal %}
          
          </a>
          {# {% traffic_light payment.scheme.traffic_light %} #}
          </td>
        <td>{{ payment.amount|currencyfmt:"EUR" }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td></td>
      <td style="text-align:right"><strong>{% trans "Total" %}</strong>:</td>
      <td>{{ recipient.amount|currencyfmt:"EUR" }}</td>
    </tr>
  </table>
  {% load comments i18n %}
  {% get_comment_list for recipient as comment_list %}
  {% if comment_list %}
    <div class="section">
      <h3>Information added by users</h3>
      {% for comment in comment_list %}
        <div class="comment">
          <div class="info col">        
            <h4>{{ comment.user }}</h4>
            {{ comment.submit_date|date:"H.i" }} {{ comment.submit_date|naturalday|title }}
          </div>    
          <div class="message col">
            {{ comment.comment|markdown:"safe" }}
          </div>
        </div>
      {% endfor %}    
    </div>
  {% endif %}
  <div class="section">
    {% blocktrans %}
      <h3>Add information for this recipient</h3>
      <p>What kind of vessel or recipient is it? Are you the owner or do you live nearby? Which fish stocks does it target? Has it been involved in illegal fishing activity? Any other factual information to add? Please provide sources wherever possible.</p>
    {% endblocktrans %}
    
    {% if user.is_authenticated %}
    
      {# -----------Comment form-----------  #}
      {% get_comment_form for recipient as form %}
      <form action="{% comment_form_target %}" method="post">
        {% if next %}<input type="hidden" name="next" value="{{ next }}" />{% endif %}
        {% for field in form %}
          {% if field.is_hidden %}
            {{ field }}
          {% else %}
            {% if field.errors %}{{ field.errors }}{% endif %}
            <p
            {% if field.errors %} class="error"{% endif %}
            {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
              {{ field.label_tag }} {{ field }}
            </p>
          {% endif %}
        {% endfor %}
        <p class="submit">
          <input type="submit" name="post" class="submit-post" value="{% trans "Post" %}" />
          <input type="submit" name="preview" class="submit-preview" value="{% trans "Preview" %}" />
        </p>
      </form>
      {# -----------Comment form-----------  #}
    
        
    {% else %}
        <a href="{% url registration_register %}">Create an account</a> or <a href="{% url auth_login %}">Log in</a> to add information.
    {% endif %}
  </div>
{% endblock %}



{% block right %}
  {% ifequal recipient.recipient_type "vessel"  %}
  {% if full_row %}

  <div class="box">
    <h3>{% trans "Vessel type" %}</h3>
    <ul>
      <li>{% trans "Length:" %} {{ full_row.overall_length }} M</li>
      <li>{% trans "Tonnage:" %} {{ full_row.tonnage|floatformat }}</li>
      <li>{% trans "Power:" %} {{ full_row.main_power|floatformat }} kW</li>
    </ul>
    
    <h3>{% trans "Vessel details" %}</h3>
    <ul>
      <li>{% blocktrans with full_row.construction_year as construction_year and full_row.construction_place|title as construction_place  %}
        Constructed {{ construction_year }} In {{ construction_place }}
      {% endblocktrans %}</li>
      {% if full_row.external_marking %}
        <li>{% trans "External Markings" %}: {{ full_row.external_marking }}</li>
      {% endif %}
      <li>{% trans "Registration number" %}: {{ vessel.cfr }}</li>
      {% url data.views.port country=country.code port=full_row.port_name as port_url %}
      <li>{% trans "Home Port" %}: <a href="{{ port_url }}">{{ full_row.port_name|title }}</a></li>
      <li><a href="http://ec.europa.eu/fisheries/fleet/index.cfm?method=Search.ListSearchSimpleOneVessel&COUNTRY_CODE=&CFR_CODE={{ full_row.cfr }}&search_type=advanced" target="_blank">{% trans "Fleet Registry record" %}</a></li>
      <li>{% trans "Country" %}: <a href="/{{ country.code }}">{{ country.name }}</a></li>
      <li>{% trans "Infringement record" %}: <a href="/faqs#withheld">{% trans "Data Withheld" %}</a></li>
      <li><a href="/faqs#withheld">{% trans "Quota: Data Witheld" %}</a></li>
      {% if full_row.greenpeace_link %}
        <li><a href="{{ full_row.greenpeace_link }}" target="_blank">{% trans "Greenpeace Blacklist" %}</a></li>
      {% endif %}
    </ul>
    
    <h3>{% trans "Owner" %}</h3> 
    <ul>
      <li>{% blocktrans %}
        This information has been <a href="/faqs#withheld">Withheld</a>
      {% endblocktrans %}</li>
    </ul>
    
    <h3>{% trans "Stocks targeted" %}</h3> 
    <ul>
      <li>
        {% if full_row.tuna_fleet %}
          {% blocktrans %}
            Tuna Fleet:  Yes (<a href="/tuna-fleet">view all</a>)
          {% endblocktrans %}
        {% else %}
          {% blocktrans %}        
            Tuna Fleet:  No
          {% endblocktrans %}            
        {% endif %} 
        </li>
      <li>{% blocktrans %}
        Other: <a href="/faqs#withheld">Data Withheld</a></p>
      {% endblocktrans %}</li>
    </ul>
    
    {% if infringement_record %}
    <h3>{% trans "Infringement record" %}</h3> 
    {% for record in infringement_record %}
      <ul>
      <li><strong>{% trans "Date" %}</strong>: {{ record.date|date:"F Y" }}<br />
      <strong>{% trans "Offense" %}</strong>: {{ record.description }}<br />
      {% if record.sanction %}        
        <strong>{% trans "Sanction" %}</strong>: {{ record.sanction }}<br />
      {% endif %}
      {% if record.skipper %}        
        <strong>{% trans "Skipper" %}</strong>: {{ record.skipper }}<br />
      {% endif %}
      </ul>
    {% endfor %}
    <p><a href="/faqs#infringement">{% trans "About infringement records" %}</a><br />
    <a href="/infringements">{% trans "View more infringements" %}</a></p>
      
    {% endif %}
    
    
    <p><a href="http://www.google.co.uk/search?q={{ full_row.vessel_name|title }}">{% trans "Google this recipient" %}</a></p>
    {% endif %}
    {% endifequal %}
    
  </div>
  
{% endblock %}
