{% extends "base.html" %}
{% load humanize traffic_lights i18n %}
{% load babel %}
{% load code_to_name %}
{% block title %}
  {% ifnotequal year 0 %}
      {% blocktrans %}Schemes {{ year }}{% endblocktrans %}
  {% else %}
      {% blocktrans %}Schemes, All years{% endblocktrans %}
  {% endifnotequal %}
{% endblock %}
{% block page_title %}
  {% url country country.code as country_url %}
  {% ifnotequal year 0 %}
      {% blocktrans with country.name as country %}Schemes in <a href="{{ country_url }}">{{ country }}</a> in {{ year }}{% endblocktrans %}
  {% else %}                                     
      {% blocktrans with country.name as country %}Schemes in <a href="{{ country_url }}">{{ country }}</a>, all years{% endblocktrans %}
  {% endifnotequal %}
{% endblock %}

{% block content %}
    
  <table class="section table">
    <thead>
      <th>{% trans "Scheme Name" %}</th>
      <th>{% trans "Amount" %}</th>
    </thead>
  {% for scheme in schemes %}
    {% if country.code %}
      {% url data.views.scheme_detail scheme_id=scheme.scheme_id name=scheme.name_en|slugify country=country.code as scheme_url %}
    {% else %}
      {% url data.views.scheme_detail scheme_id=scheme.scheme_id name=scheme.name_en|slugify as scheme_url %}      
    {% endif %}
    <tr>
      <td><a href="{{ scheme_url }}">{{ scheme.name }}</a> {% traffic_light scheme.traffic_light %}</td>
      <td>
        {% if scheme.schemetotal %}
        {{ scheme.schemetotal|currencyfmt:"EUR" }}
        {% else %}
        {{ 0|currencyfmt:"EUR" }}
        {% endif %}
        
        </td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}



{% block right %}
  <div id="scheme_help" class="box">
    {% blocktrans with good as good and bad as bad and ugly as ugly %}


    <h3>About Schemes</h3>
    <p>To help make sense of the various subsidy types we have adopted a classification developed by the Fisheries Centre of the University of British Columbia. 
    This classification divides subsidy schemes and measures into:</p>
    <ul>
      <li>Good (green {{ good }})</li>
      <li>Bad (red {{ bad }})</li> 
      <li>Ugly (yellow {{ ugly }})</li>
    </ul>
    <a href="/about/schemes/">Read More</a>
  </div>
  
  {% endblocktrans %}

  <div class="box">
      <br />
    <h3>{% trans "Filter" %}</h3>
    <h4>{% trans "Choose year" %}</h4>
    
    <ul>
      {% if country.code %}
        <li><a href="/{{ country.code }}/schemes/0" {% ifequal year 0 %}class="selected"{% endifequal %}>{% trans "All years" %}</a></li>
      {% else %}
        <li><a href="/schemes/0" {% ifequal year 0 %}class="selected"{% endifequal %}>{% trans "All years" %}</a></li>
      {% endif %}
    
      {% for country_year in data_years %}
        {% if country.code %}
          <li><a href="/{{ country.code }}/schemes/{{ country_year.year }}" {% ifequal year country_year.year %}class="selected"{% endifequal %}>{{ country_year.year }}</a>    </li>
        {% else %}
          <li><a href="/schemes/{{ country_year.year }}" {% ifequal year country_year.year %}class="selected"{% endifequal %}>{{ country_year.year }}</a>    </li>
        {% endif %}
      {% endfor %}
    </ul>
    
    <h4>{% trans "Choose country" %}</h4>
    <ul>
    {% for c in countries %}
        {% if year %}
            <li><a href="/{{ c }}/schemes/{{ country_year.year }}" {% if c == country.code %}class="selected"{% endif %}>{% code_to_name_dumb c %}</a></li>
        {% else %}
            <li><a href="/{{ c }}/schemes" {% if c == country.code %}class="selected"{% endif %}>{% code_to_name_dumb c %}</a></li>
        {% endif %}
        
    {% endfor %}
    </ul>
    </div>
    


{% endblock %}