{% extends "base.html" %}
{% load humanize %}
{% block page_title %}
  {{ scheme.0.scheme_name }}
{% endblock %}
{% block content %}
  {% load graphs %}
  {% graph "scheme" scheme %}
  <div class="section">
    <h2>Top recipient vessels</h2>
    <ul>
    {% for vessel in top_vessels %}
       {% url vessel country=vessel.iso_country cfr=vessel.cfr name=vessel.vessel_name|slugify as vessel_url %}
      <li><a href="{{ vessel_url }}">{{ vessel.vessel_name|title }} ({{ vessel.cfr }})</a> &mdash; &euro;{{ vessel.total|intcomma }}</li>
    {% endfor %}
    </ul>
  </div>

{% endblock %}