{% extends "base.html" %}
{% load babel %}
{% load humanize traffic_lights i18n %}
{% load list_tags %}

{% block title %}{{ scheme.0.scheme_name }}{% endblock %}

{% block page_title %}
{% if country.code %}
    <a href="{% url country country.code %}">{{ country.name }}</a> &mdash; {% ifnotequal year 0 %} {{ year }}{% else %} {% trans "All years" %}{% endifnotequal %}
{% endif %}
<br />{% trans "Scheme" %}: {{ scheme.0.scheme_name }}
{% traffic_light scheme.0.scheme_traffic_light %}
{% endblock %}

{% block breadcrumb %}
    <a href="/{{ country.code }}/schemes">{% blocktrans with country.name as country%}All schemes in {{ country }}{% endblocktrans %}</a>
{% endblock %}

{% block content %}
  {% ifnotequal country.code "EU" %}
    <p><a href="/schemes/{{ scheme.0.scheme2_id }}/{{ scheme.0.scheme_name }}">{% trans "View for all countries" %}</a></p>    
  {% endifnotequal %}



  <div class="year_selector">
  {% for country_year in data_years %}
    {% url data.views.scheme_detail country=country.code year=country_year.year scheme_id=scheme.0.scheme2_id name=scheme.0.scheme_name|slugify as year_url %}
    <a href="{{ year_url }}" {% ifequal year country_year.year %}class="selected"{% endifequal %}>{{ country_year.year }}</a>
  {% endfor %}
  <br /><a href="0" {% ifequal year 0 %}class="selected"{% endifequal %}>{% trans "All Years" %}</a>
  </div>



  {% if top_vessels %}
    <div class="section">
      <h2>{% trans "Top Vessels" %}</h2>
    
      <table>
        <thead>
          <th class="recipient_name">{% trans "Name" %}</th>
          <th>{% trans "Amount" %}</th>
          {% if list_enabled %}
            <th></th>
          {% endif %}
        </thead>
        {% for vessel in top_vessels %}
        <tr>{% url vessel country=country.code cfr=vessel.pk name=vessel.name|slugify as vessel_url %}
          <td><a href="{{ vessel_url }}">{{ vessel.name|title }} ({{ vessel.pk }})</a></td>
          <td>{{ vessel.payment_total|currencyfmt:"EUR" }}</td>
          {% if list_enabled %}
              <td>{% list_item_edit vessel %}</td>
          {% endif %}
          
        </tr>
        {% endfor %}
        
      </table>    
    </div>
  {% endif %}


  {% if top_nonvessels %}
    <div class="section">
      <h2>{% trans "Top Non-vessels" %}</h2>
    
      <table>
        <thead>
          <th class="recipient_name">{% trans "Name" %}</th>
          <th>{% trans "Amount" %}</th>
          {% if list_enabled %}
            <th></th>
          {% endif %}

        </thead>
        {% for beneficiary in top_nonvessels %}
        <tr>{% url nonvessel country=beneficiary.country project_no=beneficiary.pk as vessel_url %}
          <td><a href="{{ vessel_url }}">
            
            {% if beneficiary.name %}
              {{ beneficiary.name|title }} 
            {% else %}
              {% trans "Unknown beneficiary" %} ({{ beneficiary.pk }})
            {% endif %}
            
            </a></td>
          <td>{{ beneficiary.payment_total|currencyfmt:"EUR" }}</td>
          {% if list_enabled %}
              <td>{% list_item_edit beneficiary %}</td>
          {% endif %}
          
        </tr>
        {% endfor %}
    
      </table>    
    </div>
  {% endif %}



  {% if top_ports %}
    <div class="{% if col %}col{% endif %}">  
      <h2>Top Ports</h2>
      <table>
        <thead>
          <th class="recipient_name">{% trans "Port" %}</th>
          <th>{% trans "Amount" %}</th>
        </thead>
      {% for port in top_ports %}
        {% url data.views.port country=country.code port=port.port_name as port_url %}
        <tr>
        <td><a href="{{ port_url }}">{{ port.name|title }}</a></td>
        <td>{{ port.total|currencyfmt:"EUR" }}</td>
        </tr>
      {% endfor %}
      <tr><td><a href="/{{ country.code }}/ports/browse/0">See All</a></td></tr>
      </table>
    </div>
  {% endif %}

  {% if top_municipalities %}
  <div class="{% if col %}col{% endif %}">  
    <h2>{% trans "Top Regions" %}</h2>
    <table>
      <thead>
        <th class="recipient_name">{% trans "Region" %}</th>
        <th>{% trans "Amount" %}</th>
      </thead>
    {% for m in top_municipalities %}
      {% url browse_geo2 country=m.iso_country geo1=m.geo1 as municipality_url %}
      <tr>
      <td><a href="{{ municipality_url }}">{{ m.geo1|title }}</a></td>
      <td>{{ m.total_subsidy|currencyfmt:"EUR" }}</td>
      </tr>
    {% endfor %}
    <tr><td><a href="/{{ country.code }}/municipalities">{% trans "See All" %}</a></td></tr>
    </table>
  </div>
  {% endif %}
  
  
  
  
  
{% endblock %}


{% block right %}
  <div id="scheme_help">
    <h3>About Schemes</h3>
  <p>To help make sense of the various subsidy types we have adopted a classification developed by the Fisheries Centre of the University of British Columbia. 
      This classification divides subsidy schemes and measures into:</p>    
  <ul>
      <li>Good (green {% traffic_light "1" %})</li>
      <li>Bad (red{% traffic_light "3" %})</li> 
      <li>Ugly (yellow{% traffic_light "2" %})</li>
    </ul>
      <a href="/about/schemes/">Read More</a>
  </div>
  
{% endblock %}