{% extends "base.html" %}
{% load humanize traffic_lights i18n %}
{% block title %}
  {% ifnotequal year 0 %}
      {% blocktrans %}Schemes {{ year }}{% endblocktrans %}
  {% else %}
      {% blocktrans %}Schemes, All years{% endblocktrans %}
  {% endifnotequal %}
{% endblock %}
{% block page_title %}

  {% url country country.code as country_url %}
  {% ifnotequal year 0 %}
      {% blocktrans with country.name as country %}Schemes in <a href="{{ country_url }}">{{ country }}</a> in {{ year }}{% endblocktrans %}
  {% else %}                                     
      {% blocktrans with country.name as country %}Schemes in <a href="{{ country_url }}">{{ country }}</a>, all years{% endblocktrans %}
  {% endifnotequal %}
{% endblock %}

{% block content %}

  <div class="year_selector">
    {% for country_year in data_years %}
      {% if country.code %}
        <a href="/{{ country.code }}/schemes/{{ country_year.year }}" {% ifequal year country_year.year %}class="selected"{% endifequal %}>{{ country_year.year }}</a>    
      {% else %}
        <a href="/schemes/{{ country_year.year }}" {% ifequal year country_year.year %}class="selected"{% endifequal %}>{{ country_year.year }}</a>    
      {% endif %}
    {% endfor %}
    <br />
    {% if country.code %}
      <a href="/{{ country.code }}/schemes/0" {% ifequal year 0 %}class="selected"{% endifequal %}>{% trans "All years" %}</a>
    {% else %}
      <a href="/schemes/0" {% ifequal year 0 %}class="selected"{% endifequal %}>{% trans "All years" %}</a>
    {% endif %}
    
    </div>
    
  <table class="section">
    <thead>
      <th>{% trans "Scheme Name" %}</th>
      <th>{% trans "Amount" %}</th>
    </thead>
  {% for scheme in schemes %}
    {% if country.code %}
      {% url data.views.scheme_detail scheme_id=scheme.scheme2_id name=scheme.scheme_name|slugify country=country.code as scheme_url %}
    {% else %}
      {% url data.views.scheme_detail scheme_id=scheme.scheme2_id name=scheme.scheme_name|slugify as scheme_url %}      
    {% endif %}
    <tr>
      <td><a href="{{ scheme_url }}">{{ scheme.scheme_name }}</a> {% traffic_light scheme.scheme_traffic_light%}</td>
      <td>&euro;{{ scheme.total_subsidy|floatformat|intcomma }}</td>
    </tr>
  {% endfor %}
  </table>
{% endblock %}



{% block right %}
  <div id="scheme_help">
    <h3>{% trans "About Schemes" %}</h3>
  <p>To help make sense of the various subsidy types we have adopted a classification developed by the Fisheries Centre of the University of British Columbia. 
      This classification divides subsidy schemes and measures into:</p>
      <ul>
          <li>Good (green {{ good }})</li>
          <li>Bad (red {{ bad }})</li> 
          <li>Ugly (yellow {{ ugly }})</li>
        </ul>
          <a href="/about/schemes/">Read More</a>
      </div>
  
  {# {% endblocktrans %} #}

{% endblock %}