{% extends "base.html" %}
{% load humanize %}
{% load babel %}
{% load i18n %}
{% block title%}{% trans "Tuna Fleet" %}{% endblock %}
{% block page_title%}{% blocktrans with country.name as country and country.code as code %}
  <a href="/{{ code }}">{{ country }}</a>: Tuna Fleet
{% endblocktrans %}{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate vessels 30 %}


{% if vessels.0 %}
  
<table class="table table-condensed table-striped">
  <thead>
    <th>{% trans "Name" %}</th>
    <th>{% trans "Amount" %}</th>
    <th>{% trans "Port" %}</th>
  </thead>
  {% for vessel in vessels %}
    {% url vessel country=vessel.iso_country cfr=vessel.cfr name=vessel.vessel_name|slugify as vessel_url %}
    {% url port country=vessel.iso_country port=vessel.port_name as port_url %}
  
    <tr>
      <td><a href="{{ vessel_url }}">{{ vessel.vessel_name|title }}</a></td> 
      <td>{{ vessel.total_subsidy|currencyfmt:"EUR" }}</td>
      <td><a href="{{ port_url }}">{{ vessel.port_name|title }}</a></td>
    </tr>
  {% endfor %}
</table>
  {% paginate %}
  {% else %}
    <p>{% blocktrans with country.name as country %}
      {{ country }} has no vessels in the Tuna Fleet.  <a href="/EU/tuna-fleet">View the full list</a>
    {% endblocktrans %}</p>
  {% endif %}

{% endblock %}
