{% extends "base.html" %}
{% load humanize %}
{% block title%}Tuna Fleet{% endblock %}
{% block page_title%}<a href="/{{ country.code }}">{{ country.name }}</a>: Tuna Fleet{% endblock %}
{% block content %}
{% load pagination_tags %}
{% autopaginate vessels 30 %}


{% if vessels.0 %}
  
<table>
  <thead>
    <th>Name</th>
    <th>Amount</th>
    <th>Port</th>
  </thead>
  {% for vessel in vessels %}
    {% url vessel country=vessel.iso_country cfr=vessel.cfr name=vessel.vessel_name|slugify as vessel_url %}
    {% url port country=vessel.iso_country port=vessel.port_name as port_url %}
  
    <tr>
      <td><a href="{{ vessel_url }}">{{ vessel.vessel_name|title }}</a></td> 
      <td>&euro;{{ vessel.total_cost|floatformat|intcomma }}</td>
      <td><a href="{{ port_url }}">{{ vessel.port_name|title }}</a></td>
    </tr>
  {% endfor %}
</table>
  <h4 class="pager">{% paginate %}</h4>
  {% else %}
    <p>{{ country.name }} has no vessels in the Tuna Fleet.  <a href="/EU/tuna-fleet">View the full list</a></p>
  {% endif %}

{% endblock %}
