{% extends "base.html" %}
{% load humanize %}
{% block title %}
    {{ payments.0.vessel_name|title }} | {{ country.name }}
{% endblock %}

{% block page_title %}
    {{ payments.0.vessel_name|title }} &mdash; fish subsidy payments
{% endblock %}


{% block breadcrumb %}
  {% if country %}
        {% url data.views.port country=country.code port=payments.0.port_name as port_url %}
    <a href="/{{ country.code }}">{{ country.name }}</a> | <a href="{{ port_url }}">{{ payments.0.port_name|title }}</a>
  {% else %}
    <a href="/schemes">All schemes</a>
  {% endif %}
{% endblock %}


{% block content %}

  {% if payments.1 %}
    {% load graphs %}
    {% graph "recipient" payments %}
  {% endif %}
  
  {% load traffic_lights %}
  <ul>
    {% for vessel in payments %}
      <li>{{ vessel.year }} &mdash; {{ vessel.scheme_name }}{% traffic_light vessel.scheme_traffic_light %} &mdash; &euro;{{ vessel.total_subsidy|floatformat|intcomma }}</li>
    {% endfor %}
  </ul>

{% endblock %}



{% block right %}
  <div class="box">
    <h3>Vessel type</h3>
    <ul>
      <li>Length: {{ payments.0.overall_length }} M</li>
      <li>Tonnage: {{ payments.0.tonnage|floatformat }}</li>
      <li>Power: {{ payments.0.main_power|floatformat }} kW</li>
    </ul>
    
    <h3>Vessel details</h3>
    <ul>
      <li>Constructed {{ payments.0.construction_year }} In {{ payments.0.construction_place|title }}</li>
      {% if payments.0.external_marking %}
        <li>External Markings: {{ payments.0.external_marking }}</li>      
      {% endif %}
      <li>Registration number: {{ payments.0.cfr }}</li>
      {% url data.views.port country=country.code port=payments.0.port_name as port_url %}
      <li>Home Port: <a href="{{ port_url }}">{{ payments.0.port_name|title }}</a></li>
      <li><a href="http://ec.europa.eu/fisheries/fleet/index.cfm?method=Search.ListSearchSimpleOneVessel&COUNTRY_CODE=&CFR_CODE={{ payments.0.cfr }}&search_type=advanced" target="_blank">Fleet Registry record</a></li>
      <li>Country: <a href="/{{ country.code }}">{{ country.name }}</a></li>
      <li>Infringement record: <a href="/faqs#withheld">Data Withheld</a></li>
      <li>Quota: Data Witheld</li>
      {% if payments.0.greenpeace_link %}
        <li><a href="{{ payments.0.greenpeace_link }}" target="_blank">Greenpeace Blacklist</a></li>
      {% endif %}
    </ul>
    
    <h3>Owner</h3> 
    <ul>
      <li>This information has been <a href="/faqs#withheld">withheld</a></li>
    </ul>
    
    <h3>Stocks targeted</h3> 
    <ul>
      <li>Tuna Fleet:  {% if payments.0.tuna_fleet %}Yes (<a href="/tuna-fleet">view all</a>){% else %}No{% endif %} </li>
      <li>Other: <a href="/faqs#withheld">Withheld</a></p></li>
    </ul>
    
    {% if infringement_record %}
    <h3>Infringement record</h3> 
    {% for record in infringement_record %}
      <ul>
      <li><strong>Date</strong>: {{ record.date }}<br />
      <strong>Offense</strong>: {{ record.description }}<br />
      {% if record.sanction %}        
        <strong>Sanction</strong>: {{ record.sanction }}<br />
      {% endif %}
      {% if record.skipper %}        
        <strong>Skipper</strong>: {{ record.skipper }}<br />
      {% endif %}
      </ul>
    {% endfor %}
    
      
    {% endif %}
    
    
    
    <p><a href="http://www.google.co.uk/search?q={{ payments.0.vessel_name|title }}">Google this recipient</a></p>
  </div>
  
{% endblock %}
