/* General */

body {
    background-color:@lightGray;
    margin:0 auto;
    max-width:1140px;
}

#topbar {
    padding:0.5em 0 0 0;
    margin:0;
    form {
        margin:0;
        font-size:0.8em;
        input[type="email"] {
            height:12px;
        }
        select {
            height:20px;
        }
    }
    .navbar-inner {
        background:none;
        background-color:#F8F8F8;
        -webkit-box-shadow: none;
        box-shadow:none;
        -moz-box-shadow:none;
        padding:0;
        .btn {
            line-height:12px;
        }

    }
}

#outer {
    background-color:@rightGrey;
    border:1px solid #CCC;
    margin:0;
    padding:0;
}


/* Header */
header {
    clear:both;
    background-color:@fishBlue;
    position:relative;
    
    #photos {
        height:200px;
        position:relative;
        z-index:10;
        background-size:cover;
        background-position:top left;
        img {
            position:relative;
            top:70px;
        }
    }
    
    #photos.header_1 {
        background: url(../images/header_1.jpg) center center;
    }
    #photos.header_2 {
        background: url(../images/header_2.jpg) center center;
    }
    #photos.header_3 {
        background: url(../images/header_3.jpg) center center;
    }
    #photos.header_4 {
        background: url(../images/header_4.jpg) center center;
    }
    #photos.header_5 {
        background: url(../images/header_5.jpg) center center;
    }
    #photos.header_6 {
        background: url(../images/header_6.jpg) center center;
    }
    #search_form {
        position: absolute;
        top: 10px;
        right:-10px;
        z-index: 100;
        background-color:rgba(255,255,255,0.6);
        padding:0.5em 3em 0.5em 0.5em;
    }
    
    nav {
        h1 {
            font-family:'ApexNew';
            text-transform:uppercase;
            padding:0.6em 0 0.4em 1em;
            text-align:center;
            min-width:350px;
            padding:0;
            position:relative;
            top:10px;
            a {
                color:@white;
                text-decoration:none;
                &:hover {
                    color:@white;
                    text-decoration:none;
                }
            }
        }
        #mainmenu {
            overflow:auto;
            position:relative;
            top:10px;

            li {
                float:left;
                list-style-type:none;
                font-size:1.2em;
                a {
                    color:@white;
                    text-decoration:none;
                    padding:0 0.4em;
                    padding:5px;
                    &:hover {
                        color:#000;
                    }
                }
            }
        }
    }
}

h1, h2, h3 {
    font-family:'ApexNewMedium';
    font-weight:normal;
}
#content {
    background-color:@white;

    -moz-box-shadow:  8px 7px 20px 0 #888;
    -webkit-box-shadow: 8px 7px 20px 0 #888;
    box-shadow:  8px 7px 20px 0 #888;
    padding:1em;
    .col {
        float:left;
        padding-right:0.5em;
    }
    @media all and (min-width:800px) {
        .col {
            width:48%;
        }
    }
    @media all and (max-width:800px) {
        .col {
            min-width:100%;
        }
    }
    th.recipient_name {
        width:88%;
    }
    
}

#right {
    margin:0;
    padding:0 0 0 1.5em;

}

footer {
    color:@white;
    #about {
        color:@footerBG;
        font-weight:bold;
    }
    #links {
        background-color:@footerBG;
        border-top:8px solid black;
        margin:0;
        padding:2em 1em;
        overflow:auto;

        -moz-box-shadow: 10px 2px 11px 0 #888;
        -webkit-box-shadow: 10px 2px 11px 0 #888;
        box-shadow: 10px 2px 11px 0 #888;
        
        dt {
            float:left;
            clear:left;
        }
        dd {
            float:left;
            margin-left:1em;
            a {
                color:@white;
                text-decoration:none;
            }
        }
    }
    
}