{% load humanize %}
{% load i18n %}
<section class="tweets">
    <h3>{% trans "Latest tweets from <a href='http://twitter.com/fishsubsidy'>@fishsubsidy</a>" %}</h3>
    {% with plugin.get_contents as tweets %}
    {% for tweet in tweets %}
        {% if forloop.counter0 < plugin.limit %}
        <div class-"row-fluid">
        <p class="span12">
            {{ tweet.html|safe }}<br />
            <span class="date"><a href="http://twitter.com/fishsubsidy/status/{{ tweet.id }}">{{ tweet.created_at|naturaltime }}</a></span>
        </p>
        </div>
        {% endif %}
    {% endfor %}
    {% endwith %}
</section>