{% load humanize %}
{% load i18n %}
{% load babel %}
{# {% load lists %} #}
{% if table %}
  <table>
    <thead>
      <th>{% trans "Vessel Name" %}</th>
      {% if port %}<th>{% trans "Home Port" %}</th>{% endif %}
      <th>{% trans "Amount" %}</th>
    </thead>
    {% for vessel in vessels %}
      {% url vessel country=vessel.country cfr=vessel.pk name=vessel.name|slugify as vessel_url %}
      <tr>
        <td>
          <a href="{{ vessel_url }}">
              
            {% if vessel.name %}
              {{ vessel.name|title }} 
            {% else %}
              {% trans "Unknown beneficiary" %}
            {% endif %}
            
            ({{ vessel.pk }})</a>        
          {% if expand %}({{ vessel.status }} {{ vessel.status|pluralize }}) {% endif %}
        </td>
        {% url data.views.port country=vessel.country port=vessel.port_set.name as port_url %}
        {% if port %}<td><a href="{{ port_url }}">{{ vessel.port.name|title }}</a></td>{% endif %}
        <td>{% if amount %}{{ vessel.amount|currencyfmt:"EUR" }}{% endif %}</td>
        {# <td>{% list_item_edit vessel %}</td>                   #}
      </tr>
    {% endfor %}
  </table>
{% else %}
  <ul>
    {% for vessel in vessels %}
      {% url vessel country=vessel.country cfr=vessel.cfr name=vessel.name|slugify as vessel_url %}
          <li>
          <a href="{{ vessel_url }}">{{ vessel.name|title }} ({{ vessel.cfr }})</a>
          {% if amount %} &mdash; {{ vessel.amount|currencyfmt:"EUR" }}{% endif %}
          {% if expand %}({{ vessel.status }} {{ vessel.status|pluralize }}) {% endif %}
          </li>
    {% endfor %}
  
  </ul>
{% endif %}