{% if fail %}
Help Us Map!
{% else %}
<img src="http://maps.google.com/staticmap?center={{ lat }},{{ lon }}&zoom=12&size=250x250&maptype=satellite&key=ABQIAAAAbEHSuXgpf-u5fGdCit8dwRT2yXp_ZAY8_ufC3CFXhHIE1NvwkxQs4GalmejOnVxM2GgcZ1AkId8BXw&sensor=true_or_false" />
<img src="http://maps.google.com/staticmap?center={{ lat }},{{ lon }}&zoom=12&size=250x250&maptype=satellite&key=ABQIAAAAbEHSuXgpf-u5fGdCit8dwRQaLGYkD39FFTErOFt3JIAZ2AqCihQoRbTEOsySr_P9mOdJ5TK8ciqHqw&sensor=true_or_false" />
{% endif %}

