{% if fail %}
{% else %}
{% load i18n %}
<div class="box">
  <h3>{% trans "Map" %}</h3>
  <div id="map" style="height:250px; width:250px;">
    <img src="http://maps.google.com/staticmap?center={{ lat }},{{ lon }}&zoom=12&size=250x250&maptype=satellite&key={{ api_key }}&sensor=false">
    
  </div>
</div>

    <script type="text/javascript">

    function placeMap() {
      if (GBrowserIsCompatible()) {
        var map = new GMap2(document.getElementById("map"));
        map.setCenter(new GLatLng({{ lat }}, {{ lon }}), 12);
        map.setUIToDefault();
      }
      
    }
    
    function initialize() {
      $.ajaxSetup({async: false});
      $.getScript('http://maps.google.com/maps?file=api&callback=placeMap&async=2&v=2&key={{ api_key }}&sensor=false');
      $.ajaxSetup({async: true});
    }
    
    $('#map').bind('click', function() {
      initialize()
      $('#map').unbind()
    })
    </script>
    


{% endif %}