{% if newsitems %}
  {% if oneline %}
    <div id="latest_news">
      <strong>Latest News:</strong>
      <ul>
      {% for item in newsitems %}
         <li><a href="{{ item.url }}" target="_blank">{{ item }}</a></li>
      {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="block">
      <h3>Recent news stories</h3>
      <ul>
        {% for item in newsitems %}
        <li><a href="{{ item.url }}" target="_blank">{{ item }}</a></li>
        {% endfor %}
      </ul>  
    </div>
  {% endif %}
{% endif %}