{% extends 'base.html' %}
{% load i18n %}

{% block page_title %}
  {% blocktrans with flatpage.title as title %}
    {{ title }}
  {% endblocktrans %}
{% endblock%}
{% block title %}
  {% blocktrans with flatpage.title as title %}
    {{ title }}
  {% endblocktrans %}
{% endblock%}


{% block content %}
{% load markup %}
{% blocktrans with flatpage.content|markdown as content %}
  {{ content }}
{% endblocktrans %}

{{  }}

{% endblock%}


{% block right %}
{% load flatpage_menu %}
{% flatpage_menu %}

{% endblock %}