{% extends "base.html" %}
{% load i18n %}
{% load pagination_tags %}

{% block page_title %}{% trans "All Annotations" %}{% endblock page_title %}
{% block title %}{% trans "All Annotations" %}{% endblock title %}


{% block content %}
    <div class="section">
        {% autopaginate annotations 10 as annotations %}
        <ul class="annotations">
            {% for annotation in annotations %}
                {% include "annotation.html" %}
            {% endfor %}
        </ul>
        {% paginate %}
    </div>
{% endblock content %}
