body { margin:0 auto;}

#head {padding:0; position:relative;margin:0 auto 1em auto;height:120px; border-bottom:dotted 1px #a7a9ac;}

#head #title {margin:0;}
#head #title {font-variant:small-caps; font-weight:bold; text-transform: uppercase; font-size:1.6em;}
#head #title a {text-decoration:none; color:#000;}
#head #sub_title {font-size:1.2em; margin:0;}

#head #mainmenu {position:absolute; right:0; top:0; list-style-type:none;padding:0 1em;}
#head #mainmenu li {float:left;}
#head #mainmenu li a {display:block; padding:1em 1.5em 1em 1.5em;}

#page {width:80%; position:relative; margin:0 auto; padding:0;}
#content {float:left; width:70%;}

#right {float:right; width:29%;}

#home #content {width:100%;}

#home .section { padding:2em 0 4em 0; margin:0.5em 0 0 0; overflow:auto;  position:relative; }

#home .section .section_title {float:left; width:20%;}
#home .section_content { margin-left:20%; }
#home .section_content_tall { height:8em; }

#home #search_form #q {font-size:1.4em; height:20px; padding:5px; border:1px solid #333; width:70%; float:left; }
#home #search_form .description { position:absolute; right:23%; top:6em; text-align:right;}
#home #search_form .submit { float:left; font-size:1.4em; height:32px; margin-left:5px; border:1px solid #333; padding:5px; }

#home .col {float:left;}
#home .wide-col {width:80%;}
#home .narrow-col {width:20%;}
#home .col .block {width:48%; float:left; margin-bottom:2em;}
#home .narrow-col .block {width:100%; float:left;}

#home #head {text-align:center; height:250px;}


  
.section {border-top:1px solid black; position:relative; padding-top:2em; margin-top:3em; overflow:visible; clear:both;}
.section h2 {position:absolute; top:-0.9em; background-color:#fff; padding:0 10px 0 0;}
#home .section h2 {position:relative; top:0; padding:0;}
.col { float:left; width:48%; padding-bottom:2em; clear:none; margin-right:10px;}
#home .col {margin-right:0;}

#content table {width:95%;}

#footer {padding:1em 10% 0 10%;}