@font-face {
  font-family: 'ApexNew';
  src: url('../fonts/ApexNew-Heavy.eot');
  src: local('☺'), url('../fonts/ApexNew-Heavy.woff') format('woff'), url('../fonts/ApexNew-Heavy.ttf') format('truetype'), url('../fonts/ApexNew-Heavy.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ApexNewMedium';
  src: url('../fonts/ApexNew-Medium.eot');
  src: local('☺'), url('../fonts/ApexNew-Medium.woff') format('woff'), url('../fonts/ApexNew-Medium.ttf') format('truetype'), url('../fonts/ApexNew-Medium.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: Helvetica, Arial, sans-serif;
}
/* General */
body {
  background-color: #f8f8f8;
  margin: 0 auto;
  max-width: 1140px;
}
#topbar {
  padding: 0.5em 0 0 0;
  margin: 0;
}
#topbar form {
  margin: 0;
  font-size: 0.8em;
}
#topbar form input[type="email"] {
  height: 12px;
}
#topbar form select {
  height: 20px;
}
#topbar .navbar-inner {
  background: none;
  background-color: #F8F8F8;
  -webkit-box-shadow: none;
  box-shadow: none;
  -moz-box-shadow: none;
  padding: 0;
}
#topbar .navbar-inner .btn {
  line-height: 12px;
}
#outer {
  background-color: #f2f2f2;
  border: 1px solid #CCC;
  margin: 0;
  padding: 0;
}
/* Header */
header {
  clear: both;
  background-color: #084a7e;
}
header #photos {
  height: 200px;
  position: relative;
  z-index: 10;
  background-size: cover;
  background-position: top left;
}
header #photos img {
  position: relative;
  top: 70px;
}
header #photos.header_1 {
  background: url(../images/header_1.jpg) center center;
}
header #photos.header_2 {
  background: url(../images/header_2.jpg) center center;
}
header #photos.header_3 {
  background: url(../images/header_3.jpg) center center;
}
header #photos.header_4 {
  background: url(../images/header_4.jpg) center center;
}
header #photos.header_5 {
  background: url(../images/header_5.jpg) center center;
}
header #photos.header_6 {
  background: url(../images/header_6.jpg) center center;
}
header #search_form {
  display: none;
}
header nav h1 {
  font-family: 'ApexNew';
  text-transform: uppercase;
  padding: 0.6em 0 0.4em 1em;
  text-align: center;
  min-width: 350px;
  padding: 0;
  position: relative;
  top: 10px;
}
header nav h1 a {
  color: #ffffff;
  text-decoration: none;
}
header nav h1 a:hover {
  color: #ffffff;
  text-decoration: none;
}
header nav #mainmenu {
  overflow: auto;
  position: relative;
  top: 10px;
}
header nav #mainmenu li {
  float: left;
  list-style-type: none;
  font-size: 1.2em;
}
header nav #mainmenu li a {
  color: #ffffff;
  text-decoration: none;
  padding: 0 0.4em;
  padding: 5px;
}
header nav #mainmenu li a:hover {
  color: #000;
}
h1,
h2,
h3 {
  font-family: 'ApexNewMedium';
  font-weight: normal;
}
#content {
  background-color: #ffffff;
  -moz-box-shadow: 8px 7px 20px 0 #888;
  -webkit-box-shadow: 8px 7px 20px 0 #888;
  box-shadow: 8px 7px 20px 0 #888;
  padding: 1em;
}
#content .col {
  float: left;
  padding-right: 0.5em;
}
@media all and (min-width: 800px) {
  #content .col {
    width: 48%;
  }
}
@media all and (max-width: 800px) {
  #content .col {
    min-width: 100%;
  }
}
#content th.recipient_name {
  width: 88%;
}
#right {
  margin: 0;
  padding: 0 0 0 1.5em;
}
footer {
  color: #ffffff;
}
footer #about {
  color: #303c30;
  font-weight: bold;
}
footer #links {
  background-color: #303c30;
  border-top: 8px solid black;
  margin: 0;
  padding: 2em 1em;
  overflow: auto;
  -moz-box-shadow: 10px 2px 11px 0 #888;
  -webkit-box-shadow: 10px 2px 11px 0 #888;
  box-shadow: 10px 2px 11px 0 #888;
}
footer #links dt {
  float: left;
  clear: left;
}
footer #links dd {
  float: left;
  margin-left: 1em;
}
footer #links dd a {
  color: #ffffff;
  text-decoration: none;
}
/* Embeds */
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */

  padding-top: 30px;
  /* IE6 workaround*/

  height: 0;
  overflow: hidden;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
section.annotations li {
  list-style-type: none;
  display: block;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-weight: bold;
}
section.annotations li blockquote {
  font-weight: normal;
  border: none;
  font-style: italic;
  padding-bottom: 0;
  margin-bottom: 0;
}
.home #content .span6,
.home #content .span12 {
  margin-top: 2em;
}
