{% extends "base.html" %}
{% load i18n %}
{% block page_title %}Custom Lists{% endblock %}
{% block title %}Custom Lists{% endblock %}

{% block content %}  
  <div class="col">
    <h3>What are lists?</h3>
    <p>Custom lists allow you to create 'lists' or groupings of recipients on this site.  You can create ad-hoc lists and optionally save and publish your lists for others to see.</p>
  <p>You could think of custom lists like a mix between a shipping cart and an amazon wish list: you add items to it like you might on any ecommerce web site, and then save the list for others to see at a later date.</p>
    
  </div>
  <div class="col">
    {% if list_enabled %}
      <h3>Your list</h3>
      
      {% if list_items %}
      {% load lists %}
      <ul class="list_items">
        {% for item in list_items %}
          <li><strong>{{ item.content_object.name }}</strong><br />
              {{ item.content_object.amount }}<br />
              {{ item.content_object.pk }}<br />
              {% list_item_edit item.content_object %}
              </li>
        {% endfor %}        
      </ul>
      {% else %}
        {% url home as home_url %}
      <p>{% blocktrans %}
        <p>There are no items in your list yet.</p>
        <p>To add items, <a href="{{ home_url }}">browse or search</a> the site and click on the icon next to a recipient.</p>
      {% endblocktrans %}</p>
      {% endif %}
      
    {% else %}
      <h3>Create a list</h3>
      <p>You don't currently have a list activated. <a href="{% url activate_list %}">Activate one now</a></p>
    {% endif %}
    
  </div>
{% endblock %}