  <h3>Current catch data (2006)</h3>
  {% autoescape off %}
  <ul>
    <li><strong>Total Landings (volume)</strong>: {{ info.total_landings_2006__volume_ }}</li>
    <li><strong>Total Landings (value)</strong>: {{ info.total_landings_2006__value_ }}</li>
    <li><strong>Top 5 Species</strong>
      <ul>
      {% for f in top_5 %}
        <li>{{ f.0 }} &mdash; {{ f.1 }} Tonnes</li>
      {% endfor %}
     </ul>
    </li>
  </ul>
    
    
  <h3>Current fleet data (2007)</h3>
  <ul>
    <li><strong>Number of vessels</strong>: {{ info.number_of_vessels }}
        <br />of which:
      <ul>
        <li><strong>Number of trawlers</strong>: {{ info.number_of_trawlers }}</li>
        <li><strong>Number of non-trawlers</strong>: {{ info.number_of_non_trawlers }}</li>
      </ul>      
    </li>    
    <li><strong>Tonnage in GT</strong>: {{ info.tonnage_in_gt }}</li>
    <li><strong>Engine power in kW</strong>: {{ info.engine_power_in_kw }}</li>
  </ul>
 {% endautoescape  %}

 